.avatar_chat{
padding: 10px;
width:100%;
background-color: #eee;
position:relative;}
.avatar_chat>div{
display: inline-block;
padding: 4px;
width:98%;}
.avatar_chat>div>span {
padding: 5px 12px;
border-radius: 15px;
display: inline-block;
line-height: 22px;}
.avatar_chat .a {float:left;}
.avatar_chat .d {float:right;}
.avatar_chat .m{background-color: #b3e1e1;color: #404040;}
.avatar_chat .e{background-color: #ffcbbf;color: #404040;}
.avatar_chat .n1{background-color:#DADADA;color: #000000;}
.avatar_chat .n2{background-color:#12B7F5;color: #ffffff;}
.avatar_chat .n2 a{color: #ffffff;}
.avatar_chat .n2 a:hover{color: #b3e1e1;}

.avatar_chat .s{width:100%;display:inline-block;text-align:center;color:#808080;font-size:.9em;}
.avatar_chat img{padding:10px 10px}
.avatar_chat a{text-decoration:underline;}