body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 16px;
  color: #404040;
  overflow-x: hidden;
}

a {
  color: #006699;
}

a:hover, a:focus {
  color: #0085a1;
}

blockquote {
  color:#808080;
  border-left: .4em solid #c0c0c0;
  padding: 0.5em 1em 0.5em 1em;
}

@media screen and (min-width: 768px) {
  /*电脑*/
  .qbt {
    text-align: center;
    margin-top: 1.2em;
    font-size: 3.5em;
    color: #0bb1f5;
    font-weight: bold;
    cursor: default;
  }
}

/*电脑*/

@media screen and (max-width: 767px) {
  /*手机*/
  .qbt {
    text-align: center;
    margin-top: 1.2em;
    font-size: 2.3em;
    color: #0bb1f5;
    font-weight: bold;
    cursor: default;
}
}

/*手机*/

.heimu2 {
  background-color: #252525;
  color: #252525;
  transition: color 0.2s;
}

.heimu2:hover {
  color: #ffffff;
}

.zhushi {
  color:#6A9955;
}
.zhushi:before{
  content: "//";
}