.vsc{background-color: #1E1E1E;letter-spacing:.8px;font-size:.9em;line-height:1.2em;padding:8px;}
.vsc0{color:#808080;}
.vsc1{color:#569CD6;}
.vsc2{color:#D7BA7D;}
.vsc3{color:#D4D4D4;}
.vsc4{color:#9CDCDB;}
.vsc5{color:#CE9169;}
.vsc6{color:#6A9855;}
.vsc7{color:#B5CEA8;}
.vsc8{color:#43C9B0;}
.vsc9{color:#9679C0;}