@import url("/css/all.css");

body{position: relative;width: 60%;top: 1em;margin: auto;}
.index{position: fixed;top:1em;left:2.5%;width:15%;height: 100%;overflow:auto;}
h1,h2,h3,h4,h5,h6,nav{display:inline;line-height:1.8;}
h1 small{font-weight: normal;font-size:0.7em;}
h2 small,h3 small,h4 small,h5 small,h6 small{color:var(--huise-color);}
.提{position: relative;display: inline-block;border-bottom:1.5px dashed #aaa;}.提 .示{border: 2px solid #c0c0c0;visibility: hidden;width: 400px;background-color: #fff;text-align: center;border-radius: 6px;padding: 5px 0;position: absolute;z-index: 1;top: 80%;left: 50%;margin-left: -200px;}.提:hover .示{transform:translate(0,20px);transition:all 0.5s;visibility: visible;}
.zhushi[onclick^="解(锁"]{cursor:pointer;}
.index_top a{cursor:pointer;color:var(--huise-color);}
.qm p{display:inline;padding:10px;white-space: nowrap;}

#a br:before{content:" ↩";color:#bbb;}#a br{content: "&nbsp;" !important;}#a br::after {content: "\000A";white-space: pre;}
#a br.a:before{content:"";}
span.a{color:#aaa;}

.灰,.白,.绿,.蓝,.紫,.黄,.橙,.红,.黑,.靛,.青{color:#ffffff;padding:4px;border: 1px solid #000000;}
.白{background-color:#ffffff;color:#000000;}
.灰{background-color:#9896A4;}
.绿{background-color:#77C94B;}
.蓝{background-color:#4D80BF;}
.紫{background-color:#7B5BA1;}
.黄{background-color:#FAE220;}
.橙{background-color:#E66C00;}
.红{background-color:#DF402A;}
.黑{background-color:#000000;}
.靛{background-color:#153FA0;}
.青{background-color:#46ACC8;}

@media screen and (max-width: 767px){
    body{width: 90%;}
    .index{display:none;}

}
