<!DOCTYPE html>
<html lang="zh">

<title>备忘文档 - 猫球博客</title>
<link rel="stylesheet" href="https://pvo.gitee.io/css/all.css">
<link rel="stylesheet" href="https://pvo.gitee.io/css/vsc.css">
<link rel="stylesheet" type="text/css" href="https://pvo.gitee.io/5/new/notyf/notyf.min.css">
<script src="https://pvo.gitee.io/5/new/notyf/notyf.min.js" type="text/javascript"></script>
<script src="https://pvo.gitee.io/js/jquery.min.js"></script>
<style>td{min-width:2em;}a{cursor:pointer;}div.body {position: relative;width: 60%;top:1em;margin: auto;}.tsx {position: relative;display: inline-block;}.tsx .tsxt {border: 1px solid #c0c0c0;visibility: hidden;width: 600px;background-color: #fff;border-radius: 6px;padding: 5px 0;position: absolute;z-index: 1;top: 80%;left: 50%;margin-left: -200px;}.tsx:hover .tsxt {transform:translate(0,20px);transition:all 0.5s;visibility: visible;}#back-top {position: fixed;left: 85%;bottom: 10%;}#back-top a {width: 70px;height: 70px;display: block;background: url(https://limaoqiu.com/img/back-top.png) no-repeat center center;border-radius: 20px;-webkit-transition: 2s;-moz-transition: 2s;transition: 2s;}.index{position: fixed;top:1em;left:2.5%;width:15%;height: 100%;overflow:auto;}</style>

<div class="index">
    <br/>

    <a href="#layout">页面模板</a> <small>_layouts布局</small><br/>
    <a href="#参数">参数</a><br/>
    <br/>
    
    <a href="#小工具用法"><b>小工具用法</b></a>：<br/>
    <a href="#相册2">相册2</a> <small>放大镜效果</small><br/>
    <a href="#相册3">相册3</a> <small>BASE64加密</small><br/>
    <a href="#随机题库">随机题库</a><br/>
    <a href="#备忘日历">备忘日历</a><br/>
    <a href="#日期倒计时">日期倒计时</a><br/>
    <br/>
    
    <a href="#常用html">常用html</a><br/>
    <a href="#常用样式">常用样式（css）</a><br/>
    <a href="#配色">配色</a><br/>
    <a href="#常用js">常用js</a><br/>
    <br/>

    <a href="#其他">其他</a><br/>
    <a href="#猫.cafe">猫.cafe</a><br/>
</div>

<div class="body">
<div id="back-top"><a href="#top"></a></div>

<h1>备忘文档</h1>

<hr/><br/>

<a name="layout"></a><h2>#页面模板</h2>
layout: ？　<span class="zhushi">使用的_layouts布局</span><br/>
<div class="tsx"><small>（<span class="tsxu">格式参考</span>）</small><span class="tsxt">
---<br/>
layout: page<br/>
nav_color: ffffff<br/>
nav_img: index.jpg<br/>
nav_text: 猫球博客<br/>
nav_url: &lt;a href="/notice"&gt;公告&lt;/a&gt;<br/>
---<br/>
</span></div>
<br/>
<table>
    <tr><td><a onclick="复(制='layout: page')">layout: page</a></td><td>普通布局（如首页）有头图</td><td><a href="#layout_page">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: page2')">layout: page2</a></td><td>小工具</td><td><a href="#layout_page2">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: biji')">layout: biji</a></td><td>带zk搜索的笔记</td><td><a href="#layout_biji">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: zk')">layout: zk</a></td><td>biji的子页面</td><td><a href="#layout_zk">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: book')">layout: book</a></td><td>文章、小说目录</td><td><a href="#layout_book">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: wen')">layout: wen</a></td><td>文章、小说 可作为biji的子页面</td><td><a href="#layout_wen">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: wz')">layout: wz</a></td><td>网址收藏</td><td><a href="#layout_wz">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: ix')">layout: ix</a></td><td>不存在的页面</td><td><a href="#layout_ix">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: o')">layout: o</a></td><td>空白页</td><td><a href="#layout_o">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: chengjiu')">layout: chengjiu</a></td><td>成就</td><td><a href="#layout_chengjiu">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: biji_cj')">layout: biji_cj</a></td><td>带图片的笔记</td><td><a href="#layout_biji_cj">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: red_blue')">layout: red_blue</a></td><td>红色药丸、蓝色药丸</td><td><a href="#layout_red_blue">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: wzq_ss')">layout: wzq_ss</a></td><td>带搜索的文字球</td><td><a href="#wzq_ss">参考</a></td></tr>
    <tr><td><a onclick="复(制='layout: blog')">layout: blog</a></td><td>日志目录</td><td><a href="#blog">参考</a></td></tr>
</table>
<br/>
<a name="参数"></a><br/>参数：<br/>
<table><!-- <a onclick="复(制='')"></a> -->
    <tr><td><a onclick="复(制='description:')">description: </a></td><td>这里是我的博客</td><td>网页简介（给搜索引擎看的）</td></tr>
    <tr><td><a onclick="复(制='keywords:')">keywords: </a></td><td>猫球,二扯,pvo</td><td>关键词（给搜索引擎看的）</td></tr>
    <tr><td><a onclick="复(制='permalink:')">permalink: </a></td><td>index</td><td>本页地址（最前无需/）</td></tr>
    <tr><td><a onclick="复(制='title:')">title: </a></td><td>首页</td><td>本页title　"？ - 猫球博客"<br/>留空：“猫球博客”</td></tr>
    <tr><td><a onclick="复(制='favicon:')">favicon: </a></td><td>/tubiao</td><td>图标</td></tr>
    <tr><td><a onclick="复(制='nav_text:')">nav_text: </a></td><td>猫球博客</td><td>标题文字</td></tr>
    <tr><td><a onclick="复(制='nav_url: <a href=&quot;/&quot;></a>')">nav_url: &lt;a href="/"&gt;&lt;/a&gt;</a></td><td>&lt;a href="/biji"&gt;笔记&lt;/a&gt;</td><td>导航栏链接 可留空<br/>多个用&lt;a>/&lt;/a>分隔</td></tr>
    <tr><td><a onclick="复(制='nav_color:')">nav_color: </a></td><td>000000</td><td>导航栏链接文字颜色<br/>留空：404040（深灰色）</td></tr>
    <tr><td><a onclick="复(制='nav_img:')">nav_img: </a></td><td>maoqiu.jpg</td><td>头图 /img/nav/？<br/>默认：blog.jpg</td></tr>
    <tr><td><a onclick="复(制='nav_qbt_left:')">nav_qbt_left: </a></td><td>100px</td><td>标题的left位置<br/>默认：35%</td></tr>
    <tr><td><a onclick="复(制='zk_ly:')">zk_ly: </a></td><td>这里是自用页</td><td>zk打开网页显示的留言，如果有"需要加\"</td></tr>
    <tr><td><a onclick="复(制='zk_height:')">zk_height: </a></td><td>300</td><td>zk在biji中预增加的额外高度（最好不要用）</td></tr>
    <tr><td><a onclick="复(制='zk_height_a:')">zk_height_a: </a></td><td>300</td><td>zk在biji中的最低高度</td></tr>
    <tr><td><a onclick="复(制='anchor:')">anchor:</a></td><td>1 或 手机 或 电脑</td><td>跳转列表，手机为仅手机显示，电脑为仅电脑显示（手机会在页面底部）</td></tr>
    <tr><td><a onclick="复(制='redirect_from:')">redirect_from:</a></td><td>&nbsp;-&nbsp;wangzhi<br>&nbsp;-&nbsp;网址收藏</td><td>重定向</td></tr>
    <tr><td><a onclick="复(制='footer_fx:')">footer_fx:</a></td><td>3</td><td>底部按钮分享时保留几个重定向地址</td></tr>
    <tr><td><a onclick="复(制='footer_me:')">footer_me:</a></td><td>1</td><td>底部按钮（返回顶部）<br>不存在时 footer_mqec，为0时 空，为1时 footer</td></tr>
    <tr><td><a onclick="复(制='footer_img:')">footer_img:</a></td><td>tupian.jpg</td><td>底部按钮图片<br>位置为/img/i/footer/</td></tr>
    <tr><td><a onclick="复(制='footer_xjr:')">footer_xjr:</a></td><td>1</td><td>禁止按照节日更改底部图片</td></tr>
    <tr><td><a onclick="复(制='footer_mb:')">footer_mb:</a></td><td>打赏</td><td>底部按钮模板<br>留空 1.png、白 2.png、打赏 ds1.png</td></tr>
    <tr><td><a onclick="复(制='footer_fo:')">footer_fo:<br>&nbsp;-&nbsp;</a></td><td>按顺序：<br>文字描述、图片名、图片宽度、a标签内容（href="/"）</td><td>底部中间图片<br>位置为/img/i/footer/</td></tr>
    <tr><td><a onclick="复(制='pinglun:')">pinglun:</a></td><td>1</td><td>评论功能</td></tr>
    <tr><td><a onclick="复(制='toutu:')">toutu:</a></td><td>1</td><td>头图，目前支持的：<br>biji_cj</td></tr>
    <tr><td><a onclick="复(制='tpfd:')">tpfd:</a></td><td>1</td><td>图片放大，需要给图片加class="tpfd"</td></tr>
    <tr><td><a onclick="复(制='x_css:')">x_css:</a></td><td>1</td><td>取消css</td></tr>
    <tr><td><a onclick="复(制='x_jq:')">x_jq:</a></td><td>1</td><td>取消jq</td></tr>
</table>
<br/>
<a name="layout_page"></a><b>#主页</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: page<br/>
        title:&nbsp;<br/>
        nav_text:&nbsp;<br/>
        nav_url: &lt;a href="/"&gt;&lt;/a&gt;<br/>
        nav_color: ffffff<br/>
        nav_img: ？.jpg<br/>
        nav_qbt_left: ？%或？px<br>
        permalink:&nbsp;
        </td><td>
        <br/>
        本页title　"？ - 猫球博客"　留空：“猫球博客”<br/>
        标题文字<br/>
        导航栏链接 可留空<br/>
        导航栏链接文字颜色　留空：404040（深灰色）<br/>
        头图 /img/nav/？　默认：blog.jpg<br/>
        标题的left位置<br>
        本页地址（最前无需/）
        </td></tr>
</table>
<br/>
<a name="layout_page2"></a><b>#小工具</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: page2<br/>
        title:&nbsp;<br/>
        nav_text:&nbsp;<br/>
        nav_url: &lt;a href="/"&gt;&lt;/a&gt;<br/>
        permalink:&nbsp;
        </td><td>
        <br/>
        本页title　"？ - 猫球博客"　留空：“猫球博客”<br/>
        标题文字<br/>
        导航栏链接 可留空<br/>
        本页地址（最前无需/）
        </td></tr>
</table>
<br/>
<a name="layout_biji"></a><b>#笔记：搜索zk</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: biji<br/>
        title:&nbsp;<br/>
        nav_text:&nbsp;<br/>
        nav_url: &lt;a href="/？"&gt;&lt;/a&gt;<br/>
        permalink:&nbsp;
        <hr>
        &lt;script&gt;<br/>
        let dady = ""<br/>
        let data = new Array(<br/>
        "／／／"<br/>
        )<br/>
        &lt;/script&gt;<br><br><br>
        <hr>
        &lt;a onclick="随机排序()"&gt;随机排序&lt;/a&gt;<br/>
        &lt;a onclick="tion(sg='关键词')"&gt;链接&lt;/a&gt;<br/>
        或者：(sg='+关键词')<br/>
        &lt;a onclick="显示未读()"&gt;只显示未读&lt;/a&gt;
        </td><td>
        <br/>
        本页title　"？ - 猫球博客"　留空：“猫球博客”<br/>
        标题文字<br/>
        导航栏链接 可留空<br/>
        本页地址（最前无需/）
        <hr>
        <br/>
        内容被打印在输入框和结果之间<br/>
        留空为默认（展示全部、随机排序、只显示未读）<br/>
        "标题／编号／关键词／留空" 编号使用zk编号<br/>
        "标题／【编号】／关键词／内容" 编号随意，需要保证唯一<br>
        第一行必须用【】或留空<br>
        编号可以放链接，会新窗口跳转<br>
        "标题／hr／文字" 效果：&lt;hr>&lt;h4>标题&lt;/h4>文字
        <br/>
        <hr>
        将所有内容随机排序显示<br/>
        搜索关键词 空值为展示全部<br/>
        则是在已有的输入后面加关键词<br/>
        排除用户查看过的内容
        </td></tr>
</table>
<br/>
<a name="layout_zk"></a><b>#笔记的子页面</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: zk<br/>
        title:&nbsp;<br/>
        nav_text:&nbsp;<br/>
        nav_url: &lt;a href="/？"&gt;？&lt;/a&gt;<br/>
        permalink: i/zk/<br/>
        zk_ly:&nbsp;<br/>
        zk_height:&nbsp;<br>
        zk_height_a:&nbsp;
        </td>
        <td>
        <br/>
        本页title　"？ - 猫球博客"　留空：“猫球博客”<br/>
        标题文字<br/>
        导航栏链接 可留空<br/>
        本页地址<br/>
        zk打开网页显示的留言，如果有需要加"\"<br/>
        zk在biji中预增加的额外高度<br>
        zk在biji中的最低高度
        </td></tr>
</table>
<br/>
<a name="layout_wz"></a><b>#网址收藏</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: wz<br/>
        title:&nbsp;<br/>
        nav_text:&nbsp;<br/>
        nav_url: &lt;a href="/？"&gt;&lt;/a&gt;<br/>
        permalink:&nbsp;
        </td>
        <td>
        <br/>
        本页title　"？ - 猫球博客"　留空：“猫球博客”<br/>
        标题文字<br/>
        导航栏链接 可留空<br/>
        本页地址<br/>
        </td></tr>
</table>
<br/>
<a name="layout_book"></a><b>#文章、小说目录</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: wen<br/>
        title:&nbsp;<br/>
        nav_text:&nbsp;<br/>
        nav_url: &lt;a href="/？"&gt;？&lt;/a&gt; / &lt;a href="/？"&gt;？&lt;/a&gt;<br/>
        permalink: <br/>
        book_item:&nbsp;<br/>
        wen_auth:&nbsp;<br/>
        wen_sta:&nbsp;
        <hr>
        &lt;script&gt;<br/>
        let data = new Array(<br/>
        "／／／"<br/>
        )<br/>
        &lt;/script&gt;
        </td>
        <td>
        <br/>
        本页title　"？ - 猫球博客"　留空：“猫球博客”<br/>
        标题文字<br/>
        导航栏链接 可留空 多个中间用“ / ”分隔<br/>
        本页地址（最前无需/）<br/>
        目录的名字 用于缓存<div class="tsx">（<span class="tsxu">具体</span>）<span class="tsxt">
            比如在<b>目录页</b>写“书名”，在<b>正文页</b>也写上“书名”，那么用户点开<b>正文</b>时会自动记录这篇正文的标题和链接，在下次点开<b>目录</b>时会显示“上次看到：正文”。
            </span></div><br/>
        作者名 可留空<br/>
        状态（连载中、已完结等） 可留空
        <hr>
        "编号／标题" 编号使用zk编号<br/>
        "?地址／标题" 外部链接<br/>
        "hr／标题" 目录中的段落标题<br/>
        "／／long" 这条显示时占全行
        </td></tr>
</table>
<br/>
<a name="layout_wen"></a><b>#文章、小说</b> 也可作为笔记的子页面<br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: wen<br/>
        title:&nbsp;<br/>
        nav_text:&nbsp;<br/>
        nav_url: &lt;a href="/？"&gt;？&lt;/a&gt;<br/>
        permalink: i/zk/<br/>
        book_item:&nbsp;<br/>
        wen_index:&nbsp;<br/>
        wen_pre:&nbsp;<br/>
        wen_next:&nbsp;<br/>
        wen_auth:&nbsp;<br/>
        wen_time:&nbsp;<br/>
        zk_height:&nbsp;<br>
        zk_height_a:&nbsp;
        <hr>
        </td>
        <td>
        <br/>
        本页title　"？ - 猫球博客"　留空：“猫球博客”<br/>
        标题文字<br/>
        导航栏链接 可留空 多个中间用“&lt;a>/&lt;/a>”分隔<br/>
        本页地址<br/>
        目录的名字 用于留缓存<div class="tsx">（<span class="tsxu">具体</span>）<span class="tsxt">
            比如在<b>目录页</b>写“书名”，在<b>正文页</b>也写上“书名”，那么用户点开<b>正文</b>时会自动记录这篇正文的标题和链接，在下次点开<b>目录</b>时会显示“上次看到：正文”。
            </span></div><br/>
        目录地址 前面要加“/” 可留空<br/>
        上一页地址 前面要加“／” 可留空<br/>
        下一页地址 前面要加“／” 可留空<br/>
        作者名 可留空<br/>
        创作时间 可留空 格式随意（最好写成“年-月-日”）<br/>
        在biji中预增加的额外高度<br>
        在biji中的固定高度
        <hr>
        </td></tr>
</table>
<br/>
<a name="layout_ix"></a><b>#不存在的页面</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: ix
        </td>
        <td>
        （没有其他内容）
        </td></tr>
</table>
<br/>
<a name="layout_o"></a><b>#空白页</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: o<br/>
        title:&nbsp;<br/>
        nav_yes: 1<br/>
        nav_url: &lt;a href="/"&gt;&lt;/a&gt;<br/>
        nav_color: ffffff<br/>
        permalink:&nbsp;
        </td><td>
        <br/>
        本页title　"？ - 猫球博客"　留空：“猫球博客”<br/>
        导航栏是否存在 不存在不用加（导航栏可能盖住正文）<br/>
        导航栏链接 可留空<br/>
        导航栏链接文字颜色　留空：404040（深灰色）<br/>
        本页地址（最前无需/）
        </td></tr>
</table>
<br/>
<a name="layout_chengjiu"></a><b>#成就</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: chengjiu<br/>
        title:&nbsp;<br/>
        nav_url: &lt;a href="/"&gt;&lt;/a&gt;<br/>
        permalink:&nbsp;
        <hr>
        &lt;script&gt;<br/>
        let cj_data = {<br/>
            "名字":[<br/>
            hr／标题／说明（可留空）,<br/>
            "图片／标题／简单介绍／额外介绍／u或o／地址或zk编号"<br/>
            ]}
        &lt;/script&gt;<br/>
        </td><td>
        <br/>
        本页title　"？ - 猫球博客"　留空：“猫球博客”<br/>
        导航栏链接 可留空<br/>
        本页地址（最前无需/）
        <hr>
        hr 横线<br/>
        图片：用数字编号则是/img/i/chengjiu/？.jpg 或者直接使用完整链接<br/>
        额外介绍：鼠标移动上去时的小弹窗<br/>
        u／地址：超链接<br/>
        o／zk编号：点击弹窗显示zk内容
        </td></tr>
</table>
<span class="zhushi">chengjiu和biji_cj有啥区别？忘了，好像chengjiu可以翻页，biji_cj带搜索？</span>
<br/>
<a name="layout_biji_cj"></a><b>#带图片的笔记</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: biji_cj<br/>
        title:&nbsp;<br/>
        nav_text:&nbsp;<br/>
        nav_url: &lt;a href="/"&gt;&lt;/a&gt;<br/>
        permalink:&nbsp;
        <hr>
        &lt;div id="dy"&gt;&lt;/div&gt;<br/>
        &lt;script&gt;<br/>
        let data = new Array(<br/>
            "hr／标题／说明（可留空）",<br/>
            "图片／标题／简单介绍／额外介绍／u或o／地址或zk编号／关键词"<br/>
        );
        &lt;/script&gt;<br/>
        </td><td>
        <br/>
        本页title　"？ - 猫球博客"　留空：“猫球博客”<br/>
        标题文字<br/>
        导航栏链接 可留空<br/>
        本页地址（最前无需/）
        <hr>
        hr 横线<br/>
        图片：用数字编号则是/img/i/chengjiu/？.jpg 或者直接使用完整链接<br/>
        额外介绍：鼠标移动上去时的小弹窗<br/>
        u／地址：超链接<br/>
        o／zk编号：点击弹窗显示zk内容
        </td></tr>
</table>
<br/>
<a name="layout_red_blue"></a><b>#红色药丸和蓝色药丸</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: red_blue<br/>
        title:&nbsp;<br/>
        nav_text:&nbsp;<br/>
        nav_url: &lt;a href="/"&gt;&lt;/a&gt;<br/>
        permalink:&nbsp;
        <hr>
        &lt;div id="dy"&gt;&lt;/div&gt;<br/>
        &lt;script&gt;<br/>
        let data = [<br/>
        "标题1／"+<br>
        "内容1"+<br>
        "／"+<br>
        "标题2／"+<br>
        "内容2",<br>
        ];<br>
        &lt;/script><br/>
        </td><td>
        <br/>
        本页title　"？ - 猫球博客"　留空：“猫球博客”<br/>
        标题文字<br/>
        导航栏链接 可留空<br/>
        本页地址（最前无需/）
        <hr>
        <br><br><br>
        每块内容先显示标题1和内容1，<br>按下红色药丸切换到2，<br>按下蓝色切换回1。<br>
        </td></tr>
</table>
<br>
<a name="wzq_ss"></a><b>#带搜索的文字球</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: wzq_ss<br/>
        title:&nbsp;<br/>
        nav_text:&nbsp;<br/>
        nav_url: &lt;a href="/"&gt;&lt;/a&gt;<br/>
        permalink:&nbsp;<br><br>
        <hr>
        &lt;form id="输入框" autocomplete="off"><br>
        &lt;input type="text" id="输入" placeholder="搜索" onkeyup="确定()" />&lt;/form><br>
        &lt;div id="结果">&lt;/div><br>
        &lt;div id="tag-cloud">&lt;/div><br>
        &lt;script><br>
        let data=[<br>
        "标题／zk码／搜索关键词",<br>
        ];<br>
        &lt;/script>
        </td><td>
        <br/>
        本页title　"？ - 猫球博客"<br/>
        标题文字<br/>
        导航栏链接 可留空<br/>
        本页地址（最前无需/）
        <hr>
        搜索框<br>
        <br>
        搜索结果<br>
        文字球<br>
        <br>
        内容
        </td></tr>
</table>
<br>
<a name="blog"></a><b>#日志目录</b><br/>
<table>
    <tr style="line-height:1.2em;"><td style="min-width:16em;">
        layout: blog<br/>
        title:&nbsp;<br/>
        nav_text:&nbsp;<br/>
        nav_url: &lt;a href="/"&gt;&lt;/a&gt;<br/>
        permalink:&nbsp;<br>
        nav_qbt_left:<br>
        nav_img:<br>
        nav_bc:
        <hr>
        ["标题","文字","链接","时间","图片","打开"]
        </td><td>
        <br/>
        本页title　"？ - 猫球博客"<br/>
        标题文字<br/>
        导航栏链接 可留空<br/>
        本页地址（最前无需/）<br>
        文字位置（10%）<br>
        头图（1.jpg）<br>
        背景颜色
        <hr>
        图片如果是数字则为i/cj/，链接如果是数字则为展开zk小窗口
        </td></tr>
</table>

<br/><hr><br/>

<a name="小工具用法"></a><h2>#小工具用法</h2>

<br/>

<a name="相册2"></a><h3>#相册2 <small>（放大镜效果）</small></h3>
玩法1：鼠标移动时局部放大。<br/>
玩法2：鼠标移动时部分内容改变（比如抄袭对比）。<br/>
<b>图片文件</b>：分为两份，先展示的图片在/xiangce/2/0/（文件以.jpg为扩展名）。<br/>
放大镜显示的图片在/xiangce/2/3/（文件没有扩展名）。<span class="zhushi">两个文件名字和尺寸需要相同</span><br/>
<b>效果测试</b>：<a href="https://yucimao.github.io/xiangce/fdj" target="_blank">/xiangce/fdj</a>
输入文件名显示图片，多个文件名用“,”分隔。<span class="zhushi">分隔符是小写逗号</span><br/>
<b>显示方法</b>：<a href="https://yucimao.github.io/xiangce/fdjxg/?t=文件名&s=200" target="_blank">/xiangce/fdjxg/?t=文件名&s=200</a> <span class="zhushi">200是尺寸，可留空，默认200px</span><br/>
或者：<br/>
&lt;iframe src="/xiangce/fdjxg/?t=文件名&s=200" width="100%" height="550px"&gt;&lt;/iframe&gt;<br/>

<br/>

<a name="相册3"></a><h3>#相册3 <small>（BASE64加密）</small></h3>
<b>加密</b><br/>
1.在<a href="https://yucimao.github.io/i/zk/363433" target="_blank">/i/zk/363433</a>将图片转成BASE64代码。<br/>
2.在<a href="https://yucimao.github.io/xiangce3/jiami" target="_blank">/xiangce3/jiami</a>将代码加密。<br/>
3.将代码存成.json文件，放在/xiangce/3/o/（或其他位置）。<br/>
<br/>
<b>查看</b><br/>
/xiangce3?u=地址&c=密码<br/>
如果是/xiangce/3/o/内的文件，地址不需要写.json<br/>
<br/>
<b>使用</b><br/>
可以在其他网页用这种方法展示图片，需要以下变量和js：<br/>
let xiangce3_m = 密码;<br/>
let xiangce3_wz = 地址;<br/>
let xiangce3 = 1; <span class="zhushi">加这句会将本页&lt;img id="img" src="" />的src替换为图片的base64编码</span><br/>
&lt;script src="/xiangce/3/i.js">&lt;/script><br/>
<span class="zhushi">变量xiangce3_sr是图片的base64编码</span>

<br/>

<a name="随机题库"></a><h3>#随机题库</h3>
/sjtk?t=题库地址&c=抽取次数（留空为1）&f=1（允许重复，留空为不允许）&m=密码<br/>
<a href="https://yucimao.github.io/ceshi/sjtk" target="_blank">备忘和小工具</a>：<br/>
加?t=题库地址则是在这个题库中搜索关键词，如果有密码要加&m=密码。<br/>
加?m=密码，将题库内容复制到输入框，可以加密或解密。需要在文件里增加“／wzjm”。<br/>
<!-- <br/>
<b>旧版</b><br/>
/sjtk/1?i=<input id="随机题库地址" style="width:70px"  placeholder="地址/地址"/>&f=<input id="随机题库每次抽取" style="width:60px"  placeholder="每次抽取数"/>&n=<input id="随机题库标题" style="width:50px"  placeholder="标题"/><button onclick="随机题库复制()">复制</button><button onclick="随机题库清空()">清空</button><br/>
<span class="zhushi">文件存放位置：/5/随机题库/i/ 文件后缀名：.json</span><br/>
<script>function 随机题库复制(){let 随机题库地址=document.getElementById("随机题库地址").value;let 随机题库每次抽取=document.getElementById("随机题库每次抽取").value;let 随机题库标题=document.getElementById("随机题库标题").value;let 随机题库打印 = "/sjtk/1?i="+随机题库地址+"&f="+随机题库每次抽取+"&n="+随机题库标题;document.getElementById('复制').value = 随机题库打印;let 随机题库复制 = document.querySelector('#复制');随机题库复制.select();document.execCommand("Copy");}function 随机题库清空(){document.getElementById('随机题库地址').value = "";document.getElementById('随机题库每次抽取').value = "";document.getElementById('随机题库标题').value = "";}</script> -->

<br/>

<a name="备忘日历"></a><h3>#备忘日历 <small>/5/备忘日历/</small></h3>
<div class="vsc vsc0">
<span class="vsc4">节日</span><span class="vsc3">+=</span><span class="vsc5">"&lt;b&gt;节日名&lt;/b&gt; &lt;small&gt;阳历?月?日&lt;/small&gt;&lt;br/&gt;节日说明&lt;br/&gt;"</span><br/>
<span class="zhushi">显示已过年份：</span><br/>
<span class="vsc4">临时年</span><span class="vsc3"> = </span><span class="vsc4">盖亚历</span><span class="vsc3"> - </span><span class="vsc7">2019</span> <span class="zhushi">2019改成开始的年份 临时年就是已过的年份</span><br/>
<span class="vsc4">节日</span><span class="vsc3">+=</span><span class="vsc5">"&lt;b&gt;猪又生日&lt;/b&gt; &lt;small&gt;阳历11月17日&lt;/small&gt;&lt;br/&gt;猪又今年已经"</span><span class="vsc3"> + </span><span class="vsc4">临时年</span><span class="vsc3"> + </span><span class="vsc5">"岁啦&lt;br/&gt;"</span><br/>
<span class="zhushi">临时年就是已过的年份 比如 "猪又今年"+临时年+"岁啦"</span><br/></div>

<br/>

<a name="日期倒计时"></a><h3>#日期倒计时</h3>
&lt;iframe src="/0316?rq=（月）-（日）&y=（字色）&s=（背景色）&bt=（标题文字）" frameborder="0" width="100%" height="250px"&gt;&lt;/iframe&gt;<br/>
月、日：比如3-16<br/>
字色、背景色：六位颜色码，比如808080<br/>
<span class="zhushi">默认白字蓝背景</span><br/>
标题文字：可留空，codeURI编码，比如%E4%BD%A0%E5%A5%BD <a href="https://yucimao.github.io/i/zk/336177" target="_blank">转换</a><br/>
y=？&s=？ 也可以改为 ys= 则使用预设样式<br/>
<table>
    <tr><td>默认</td><td style="background-color: #252F68;color: #FFFFFF;">白色文字 深蓝色背景</td></tr>
    <tr><td>ys=a</td><td style="background-color: #606060;color: #FFFFFF;">白色文字 灰色背景</td></tr>
    <tr><td>ys=b</td><td style="background-color: #479AC7;color: #FFFFFF;">白色文字 浅蓝色背景</td></tr>
    <tr><td>ys=c</td><td style="background-color: #ED6111;color: #FFFFFF;">白色文字 橙色背景</td></tr>
    <tr><td>ys=d</td><td style="background-color: #FBBEC3;color: #FFFFFF;">白色文字 粉色背景</td></tr>
</table>



<br/><hr><br/>

<!--
<tr><td><a onclick="复(制='【复制代码】')">复制</a></td>
<td>【说明】<br/>
【代码预览】</td></tr>
-->

<a name="常用html"></a><h2>#常用html</h2>
<table>

    <tr><td><a onclick="复(制='&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;')">复制</a></td>
        <td>用于固定手机版比例，放在没有layout: page的网页<br/>
        &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;</td></tr>

    <tr><td><a onclick="复(制='&lt;script src=&quot;/js/jquery.min.js&quot;&gt;&lt;/script&gt;')">复制</a></td>
        <td>外部Jquery.min.js<br/>
        &lt;script src=&quot;/js/jquery.min.js&quot;&gt;&lt;/script&gt;</td></tr>

    <tr><td><a onclick="复(制='&lt;link rel=&quot;stylesheet&quot; href=&quot;/css/all.css&quot;&gt;')">复制</a></td>
        <td>统一样式（通常不用手动加）<br/>
        &lt;link rel=&quot;stylesheet&quot; href=&quot;/css/all.css&quot;&gt;</td></tr>

    <tr><td><a onclick="复(制='{% include popup_dw.html %}')">复制</a></td>
        <td>弹窗，超链接onclick="dw(dwb='【zk码，其他会直接显示文字】',dwd='【标题】')"</td></tr>

    <tr><td><a onclick="复(制='onclick=&quot;复(制=\&apos;\&apos;)')">复制</a></td>
        <td>复制，onclick="复(制='【内容】')"<br>
        ［换行］ = \n</td></tr>

    <tr><td><a onclick="复(制='{% include anchor.html %}')">复制</a></td>
        <td>（改成参数了）<br>
            &lt;a name="">&lt;/a> 自动在右下角设置跳转列表<br/>
            放在正文下面 {% include anchor.html %}<br>
            在正文前加&lt;div id="right_anchor">&lt;/div> 在正文上显示列表<br>
            在其中加 class="shouji" 只在手机版显示</td></tr>

    <tr><td><a onclick="复(制='&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;/5/new/notyf/notyf.min.css&quot;>&lt;script src=&quot;/5/new/notyf/notyf.min.js&quot; type=&quot;text/javascript&quot;>&lt;/script>')">复制</a></td>
        <td>右下角小弹窗：<a onclick="右下角小弹窗()">点击测试</a><br>
        &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;/5/new/notyf/notyf.min.css&quot;><br>
        &lt;script src=&quot;/5/new/notyf/notyf.min.js&quot; type=&quot;text/javascript&quot;>&lt;/script><br>
        &lt;a onclick=&quot;测试()&quot;>测试&lt;/a><br>
        &lt;script><br>
        let notyf = new Notyf({delay:3000});<br>
        function 测试(){<br>
            notyf.alert(&quot;失败&quot;);<br>
            notyf.confirm(&quot;成功&quot;);<br>
        }<br>
    &lt;/script>
        </td></tr>

    <tr><td><a onclick="复(制='&lt;script type=&quot;text/javascript&quot; src=&quot;/5/new/qrcode.min.js&quot;>&lt;/script>［换行］&lt;div id=&quot;【id】&quot; style=&quot;width:200px; height:200px;&quot;>&lt;/div>［换行］&lt;script>new QRCode(document.getElementById(&quot;【id】&quot;), &quot;【内容】&quot;);&lt;/script>')">复制</a></td>
    <td>生成二维码<br>
        &lt;script type="text/javascript" src="/5/new/qrcode.min.js">&lt;/script><br>
        &lt;div id="【id】" style="width:200px; height:200px;">&lt;/div><br>
        &lt;script>new QRCode(document.getElementById("【id】"), "【内容】");&lt;/script></td></tr>

</table>

<br/><hr><br/>

<a name="常用样式"></a><h2>#常用样式 <small>/css/all.css</small></h2>
<table>
    <tr><td><a onclick="复(制='&lt;blockquote&gt;&lt;/blockquote&gt;')">复制</a></td>
        <td>引用的内容<br/>
        &lt;blockquote&gt;&lt;/blockquote&gt;<br/>
        <blockquote>小明：今天天气不错</blockquote></td></tr>
    <tr><td><a onclick="复(制='&lt;span class=&quot;zhushi&quot;&gt;&lt;/span&gt;')">复制</a></td>
        <td>模仿单行代码注释风格<br/>
        &lt;span class=&quot;zhushi&quot;&gt;&lt;/span&gt;<br/>
        <span class="zhushi">这是一行注释</span></td></tr>
    <tr><td><a onclick="复(制='&lt;div class=&quot;zhushi&quot;&gt;&lt;/div&gt;')">复制</a></td>
        <td>模仿一段代码注释风格<br/>
        &lt;div class=&quot;zhushi&quot;&gt;&lt;/div&gt;<br/>
        <div class="zhushi">这是一段注释</div></td></tr>
    <tr><td><a onclick="复(制='&lt;a class=&quot;anniu&quot;&gt;&lt;/a&gt;')">复制</a></td>
        <td>将链接改为按钮样式<br/>
        &lt;a class=&quot;anniu&quot;&gt;&lt;/a&gt;<br/>
        <a class="anniu" href="https://limaoqiu.com" target="_blank">猫球博客</a></td></tr>
    <tr><td><a onclick="复(制='&lt;div class=&quot;heimu&quot;&gt;&lt;/div&gt;')">复制</a></td>
        <td>平时黑色隐藏，鼠标移动上去显示文字。<br/>
        &lt;div class=&quot;heimu&quot;&gt;&lt;/div&gt;<br/>
        <div class="heimu">这句话藏起来了</div></td></tr>
    <tr><td><a onclick="复(制='&lt;span class=&quot;mohumu&quot;&gt;&lt;/span&gt;')">复制</a></td>
        <td>平时模糊，鼠标移动上去清晰显示。<br/>
        &lt;span class=&quot;mohumu&quot;&gt;&lt;/span&gt;<br/>
        <span class="mohumu">这里有一句话</span></td></tr>
    <tr><td><a onclick="复(制='&lt;span class=&quot;redX&quot;&gt;&lt;/span&gt;')">复制</a></td>
        <td>在文字上打一个红色的X，只能在两个字上。<br/>
        &lt;span class=&quot;redX&quot;&gt;&lt;/span&gt;<br/>
        从一句话中找出<span class="redX">错误</span>的部分。</td></tr>
    <tr><td><a onclick="复(制='&lt;ruby>&lt;rb&gt;文字&lt;/rb&gt;&lt;rt&gt;pin yin&lt;/rt&gt;&lt;/ruby&gt;')">复制</a></td>
        <td>文字和拼音<br/>
        &lt;ruby>&lt;rb&gt;文字&lt;/rb&gt;&lt;rt&gt;pin yin&lt;/rt&gt;&lt;/ruby&gt;<br/>
        你好，我是<ruby><rb>李猫球</rb><rt>lǐ māo qiú</rt></ruby></td></tr>
    <tr><td><a onclick="复(制='&lt;img src=&quot;&quot; class=&quot;crisp-edges&quot;>')">复制</a></td>
        <td>像素图放大而不模糊<br/>
        &lt;img src=&quot;&quot; class=&quot;crisp-edges&quot;><br/>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFAQMAAACtnVQoAAAABlBMVEX///8AAABVwtN+AAAAFUlEQVQI12NwZGBY1AAipzAweDAAABUPAoHy8F9iAAAAAElFTkSuQmCC" class="crisp-edges" width=100px></td></tr>
    <tr><td><a onclick="复(制='&lt;mark>&lt;/mark>')">复制</a></td>
        <td>突出显示文本<br/>
        &lt;mark>&lt;/mark><br/>
        标注出<mark>重点位置</mark></td></tr>
    <tr><td><a onclick="复(制='&lt;em>&lt;/em>')">复制</a></td>
        <td>强调文本<br/>
        &lt;em>&lt;/em><br/>
        这里有一个<em>重点</em></td></tr>
    <tr><td><a onclick="复(制='&lt;a href=&quot;&quot; target=&quot;_blank&quot; class=&quot;dk&quot;>&lt;/a>')">复制</a></td>
        <td>新窗口链接<br/>
        &lt;a href=&quot;&quot; target=&quot;_blank&quot; class=&quot;dk&quot;>&lt;/a><br/>
        <a href="/" target="_blank" class="dk">打开链接</a></td></tr>
    <tr><td><a onclick="复(制='class=&quot;bukexuanzhong&quot;')">复制</a></td>
        <td>不可选中<br/>
        class=&quot;bukexuanzhong&quot;<br/>
        这里→<span class="bukexuanzhong">的文字</span>←不可选中</td></tr>
    <tr><td><a onclick="复(制='class=&quot;ssfd&quot;')">复制</a></td>
        <td>文字抖动<br/>
        class=&quot;ssfd&quot;（ssfd_b为鼠标移到上面时才抖动）<br/>
        <span class="ssfd">Σ(っ °Д °;)っ</span></td></tr>
    <tr><td><a onclick="复(制='class=&quot;shanshuo&quot;')">复制</a></td>
        <td>文字闪烁<br/>
        class=&quot;shanshuo&quot;<br/>
        输入中<span class="shanshuo">_</span></td></tr>
    <tr><td></td>
        <td>分割线<br/>
            默认 &lt;hr> <a onclick="复(制='<hr>')">复制</a><hr>
            颜色渐变 &lt;hr class="hr1"> <a onclick="复(制='<hr class=&quot;hr1&quot;>')">复制</a><hr class="hr1">
            黑白渐变 &lt;hr class="hr2"> <a onclick="复(制='<hr class=&quot;hr2&quot;>')">复制</a><hr class="hr2">
            文字 &lt;hr class="hr3" data-content="文字"> <a onclick="复(制='<hr class=&quot;hr3&quot; data-content=&quot;&quot;>')">复制</a><hr class="hr3" data-content="文字">
            虚线 &lt;hr class="hr4"> <a onclick="复(制='<hr class=&quot;hr4&quot;>')">复制</a><hr class="hr4">
            剪开虚线 &lt;hr class="hr5"> <a onclick="复(制='<hr class=&quot;hr5&quot;>')">复制</a><hr class="hr5">
        </td></tr>

</table>

<a href="i/鼠标样式.html" class="anniu">鼠标</a>

<br/><hr><br/>

<a name="配色"></a><h2>#配色</h2>
<a href="i/仿代码风格.html" target="_blank">仿代码风格</a><br/>
<a href="i/仿聊天风格.html" target="_blank">仿聊天风格</a><br/>

<br/>

<div id="配色测试结果" style="background-color:#000;color:#fff;">（输入代码测试颜色）</div>
文字颜色：#<input id="配色测试文字" style="width:6em"  placeholder="FFFFFF"/><br/>
背景颜色：#<input id="配色测试背景" style="width:6em"  placeholder="000000"/>
<script>$("#配色测试背景").keyup(function () {let 配色测试a = $("#配色测试背景").val();if(配色测试a.length==6){配色测试a="#"+配色测试a;let 配色测试b = document.getElementById("配色测试结果");配色测试b.style.backgroundColor=配色测试a;}else{let 配色测试b = document.getElementById("配色测试结果");配色测试b.style.backgroundColor="#000";}});$("#配色测试文字").keyup(function () {let 配色测试a = $("#配色测试文字").val();if(配色测试a.length==6){配色测试a="#"+配色测试a;let 配色测试b = document.getElementById("配色测试结果");配色测试b.style.color=配色测试a;}else{let 配色测试b = document.getElementById("配色测试结果");配色测试b.style.color="#fff";}})</script>

<br/><br/>

<small>（点击颜色代码直接复制）</small>
<style>table.配色 td{padding:5;background-color: fff;}table.配色 tr td:nth-child(even){background-color: #505050;min-width:.2em;}table.配色 a{color:#404040;font-family: '宋体'}</style>
<table class="配色">
    <tr><th>效果和说明</th><th colspan="2">文字</th><th colspan="2">背景</th></tr>
    <tr><td style="background-color:#FFFFFF;color:#006699">超链接</td>
        <td style="background-color:#006699;"></td><td><a onclick="复(制='#006699')">#006699</a></td>
        <td style="background-color:#FFFFFF;"></td><td><a onclick="复(制='#FFFFFF')">#FFFFFF</a></td></tr>
    <tr><td style="background-color:#FFFFFF;color:#404040">普通文字</td>
        <td style="background-color:#404040;"></td><td><a onclick="复(制='#404040')">#404040</a></td>
        <td style="background-color:#FFFFFF;"></td><td><a onclick="复(制='#FFFFFF')">#FFFFFF</a></td></tr>
    <tr><td style="background-color:#191970;color:#FFFFFF">警告</td>
        <td style="background-color:#FFFFFF;"></td><td><a onclick="复(制='#FFFFFF')">#FFFFFF</a></td>
        <td style="background-color:#191970;"></td><td><a onclick="复(制='#191970')">#191970</a></td></tr>
    <tr><td style="background-color:#FFFFFF;color:#0BB1F5"><b>头部标题</b></td>
        <td style="background-color:#0BB1F5;"></td><td><a onclick="复(制='#0BB1F5')">#0BB1F5</a></td>
        <td style="background-color:#FFFFFF;"></td><td><a onclick="复(制='#FFFFFF')">#FFFFFF</a></td></tr>

</table>

<br/><hr><br/>

<a name="常用js"></a><h2>#常用js</h2>
<a href="i/获取json到变量.html" target="_blank">获取json到变量</a><br/>
判断变量存在：if(typeof 变量!=="undefined")<br/>

<br/><hr><br/>

<a name="其他"></a><h2>#其他</h2>
<a href="i/像素中国地图.html" target="_blank">像素中国地图</a><br/>
<a href="i/b站直播个人简介.html" target="_blank">B站直播个人简介</a><br/>

<br/><hr><br/>

<a name="猫.cafe"></a><h2>#猫.cafe</h2>
<table><!-- <a onclick="复(制='')"></a> -->
    <tr><td><a onclick="复(制='BeiJingTuPian:')">BeiJingTuPian: </a></td><td>1.jpg</td><td>固定的背景图片</td></tr>
    <tr><td><a onclick="复(制='BeiJingYanSe:')">BeiJingYanSe: </a></td><td>#ffffff</td><td>背景颜色</td></tr>
    <tr><td><a onclick="复(制='BiaoTiWenZi:')">BiaoTiWenZi: </a></td><td>标题</td><td>固定的标题文字</td></tr>
    <tr><td><a onclick="复(制='BeiJingLunBo:')">BeiJingLunBo: </a></td><td>A</td><td>预设的背景图片轮播</td></tr>
    <tr><td><a onclick="复(制='BiaoTiLunBo:')">BiaoTiLunBo: </a></td><td>A</td><td>预设的标题文字轮播</td></tr>
</table>


<br/><br/><br/><br/><br/><br/><br/><br/>

</div>

<textArea id="复制" style="position:absolute;top:-1000px"></textArea>
<script>
let notyf = new Notyf({delay:3000});
function 右下角小弹窗(){notyf.alert("失败");notyf.confirm("成功");}
let 制;function 复(){
notyf.confirm("已复制");
制=制.replace(/［换行］/g, "\n");
document.getElementById('复制').value = 制;let 复制 = document.querySelector('#复制');复制.select();document.execCommand("Copy");}</script>
</html>