<!-- <a name=""></a> 自动在右下角设置跳转列表 -->
<style>
    @media screen and (min-width: 768px) { /*电脑*/
        #right_anchor2{position: fixed;bottom:0%;width:14%;height: 40%;overflow:auto;margin: 0 auto 0 67%;}
        #right_anchor2 table{width:100%;}
        #right_anchor .shouji{display:none;}
    } /*电脑*/

    @media screen and (max-width: 767px) { /*手机*/
        #right_anchor2{display:none;}
    } /*手机*/
    #right_anchor2 a{display:block;}
    #right_anchor table{width:60%;cursor:pointer;}
</style>
<div id="right_anchor2"></div>
<script>
    if (top.location == self.location) {
let anchor_an = "<tr><td onclick=\"anchor_zk()\"><a>收回 🔻</a></td></tr>";
let anchor_an2 = 0;
let anchor_dy = "";
let anchor_name = 0;
let anchor = document.querySelectorAll('a');
if (anchor[0]) {
    for (let i = 0; i < anchor.length; i++) {
        if (anchor[i]["name"]) {
            anchor_name+=1;
            anchor_dy += "<tr><td onclick=\"window.location.href='#" + anchor[i]["name"] + "'\"><a>" + anchor[i]["name"] + "</a></td></tr>";
        }
    }
    if(anchor_dy!=""){
        if(document.getElementById("right_anchor")){document.getElementById("right_anchor").innerHTML = "<table>"+anchor_dy+"</table><br>";}
        if(anchor_name>5){
            document.getElementById("right_anchor2").innerHTML = "<table>"+anchor_an+anchor_dy+"</table>";
        }else{
            document.getElementById("right_anchor2").innerHTML = "<table>"+anchor_dy+"</table>";
        }
    }
}
function anchor_zk(){
if(anchor_an2==1){
    anchor_an = "<tr><td onclick=\"anchor_zk()\"><a>收回 🔺</a></td></tr>";
    document.getElementById("right_anchor2").innerHTML = "<table>"+anchor_an+anchor_dy+"</table>";
    anchor_an2=0;
}else{
    anchor_an = "<tr><td onclick=\"anchor_zk()\"><a>展开 🔻</a></td></tr>";
    document.getElementById("right_anchor2").innerHTML = "<table>"+anchor_an+"</table><br>";
    anchor_an2=1;
}
}

var windowWidth = $(window).width();
    if(windowWidth > 767){
        $(document).ready(function() {
    $("#right_anchor2").hide();
    $(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 100) {
                $('#right_anchor2').fadeIn();
            } else {
                $('#right_anchor2').fadeOut();
            }
        });
    });
    });
}else{
    $('#right_anchor2').fadeOut();
}
    }
</script>