<link rel="prefetch" href="{{ site.mq_d }}/js/jquery.min.js"/>
<link rel="prefetch" href="{{ site.mq_d }}/css/all.css"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/nav/index.jpg"/>
<link rel="prefetch" href="/5/rili/ib.js"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/maoqiuheerche.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/maoqiutv.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/world.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/yimeng.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/playgame.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/riji.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/xiangce.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/zatan.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/pvo.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/xiaojuchang.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/bilibili.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/xinlangweibo.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/zhihu.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/wyyyy.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/github.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/liuyan.jpg"/>