<link rel="prefetch" href="/i"/>
<link rel="prefetch" href="{{ site.jquery }}"/>
<link rel="prefetch" href="/css/all.css"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/nav/index.jpg"/>
<link rel="prefetch" href="/5/rili/ib.js"/>

<link rel="prefetch" href="/img/index/maoqiuheerche.jpg"/>
<link rel="prefetch" href="/img/index/riji.jpg"/>
<link rel="prefetch" href="/img/index/wanyouxi.jpg"/>
<link rel="prefetch" href="/img/index/xiaojuchang.jpg"/>
<link rel="prefetch" href="/img/index/zatan.jpg"/>
<link rel="prefetch" href="/img/index/yimeng.jpg"/>
<link rel="prefetch" href="/img/index/xiaogongju.jpg"/>
<link rel="prefetch" href="/img/index/yishijie.jpg"/>
<link rel="prefetch" href="/img/index/bilibili.jpg"/>
<link rel="prefetch" href="/img/index/chongdong.jpg"/>
<link rel="prefetch" href="/img/index/zhihu.jpg"/>
<link rel="prefetch" href="/img/index/xinlangweibo.jpg"/>
<link rel="prefetch" href="/img/index/wyyyy.jpg"/>
<link rel="prefetch" href="/img/index/liuyan.jpg"/>
<style>
.jrmqbk{
position: relative;
width: 10px;
height: 10px;
animation: jrmqbk_a 1s infinite;
}
@keyframes jrmqbk_a{
0% {left:0px}
70%{left: 10px;}
100%{left: 0px;}
}
[onclick]{cursor:pointer;}
</style>