<link rel="prefetch" href="{{ site.jquery }}"/>
<link rel="prefetch" href="/css/all.css"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/nav/index.jpg"/>
<link rel="prefetch" href="/5/rili/ib.js"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/maoqiuheerche3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/maoqiutv3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/world3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/yimeng3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/playgame3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/riji3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/xiangce3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/zatan3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/pvo3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/xiaojuchang3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/bilibili3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/xinlangweibo3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/zhihu3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/wyyyy3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/github3.jpg"/>
<link rel="prefetch" href="{{ site.mq_d }}/img/index/liuyan3.jpg"/>
<style>
.jrmqbk{
position: relative;
width: 10px;
height: 10px;
animation: jrmqbk_a 1s infinite;
}
@keyframes jrmqbk_a{
0% {left:0px}
70%{left: 10px;}
100%{left: 0px;}
}
</style>