<style>
footer {position: relative;top: 300px;z-index: -1001;}
footer img {position: relative;bottom: 50px;display: block;margin: 0 auto;}

@media (min-width: 730px) { /*大于730*/
    #back-top {position: fixed;right:0%;bottom: 2%;}
    #back-top a {width: 70px;height: 70px;display: block;background: url(/img/back-top.png) no-repeat center center;border-radius: 20px;-webkit-transition: 2s;-moz-transition: 2s;transition: 2s;}
}
</style>

<div id="back-top"><a class="tubiao" href="#top"></a></div>
<footer><a href="/maoqiu"><img class="tubiao" src="/img/footer.png" alt="关于我" title="关于我"/></a></footer>

<script>
$(document).ready(function() {
$("#back-top").hide();
$(function() {
    $(window).scroll(function() {
        if ($(this).scrollTop() > 100) {
            $('#back-top').fadeIn();
        } else {
            $('#back-top').fadeOut();
        }
    });
    $('#back-top a').click(function() {
        $('body,html').animate({
            scrollTop: 0
        }, 200);
        return false;
    });
});
});
</script>