<style>
@media (min-width: 730px) {
footer {position: relative;top: 300px;z-index: -1001;}
footer img {position: relative;bottom: 50px;display: block;margin: 0 auto;}
.sidebar_fz6m{position:fixed;bottom:0;z-index:1000;line-height:0;cursor:pointer;}
#footer_me_e:hover{-webkit-transform:translate(0,0);transform:translate(0,0);-ms-transform:translate(0,0)}
#footer_me_e{right:0;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-transform:translate(0,45px);transform:translate(0,45px);-ms-transform:translate(0,45px)}
#footer_me_m:hover{-webkit-transform:translate(0,0);transform:translate(0,0);-ms-transform:translate(0,0)}
#footer_me_m{left:0;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-transform:translate(0,45px);transform:translate(0,45px);-ms-transform:translate(0,45px)}
#sidebar_fz6m{display:none;}
.dn_inline{display:inline;}
.footer_anniu{background-color:#ffffff;text-decoration:none;color:#37474f;transition-duration:.3s;transition-property:transform;display:inline-block;vertical-align:middle;padding:10px 20px;margin:.4em;cursor:pointer;border-radius:20px;border:2px solid #888;transform:translateZ(0);box-shadow:0 0 1px #000;}.footer_anniu:hover{transform:scale(1.2);color:#fff;background-color:#2b95ca;}
}
@media screen and (max-width: 729px){
footer {display:none;}
#sidebar_fz6m {position: relative;top: 300px;z-index: -1001;float: left;width: 100%;}
.sidebar_fz6m{display:none;}
.footer_me_m{position: absolute;bottom:0;left:0;}
.footer_me_e{position: absolute;bottom:0;right:0;}
}
</style>
    <div class="sidebar_fz6m" id="footer_me_m"> 
        <img src="/img/i/footer/{% if page.footer_img %}{{ page.footer_img }}{% else %}me{% endif %}1.png" alt="分享" onclick="dw(dwb=分享_fo_m)" onmouseover="this.src='/img/i/footer/{% if page.footer_img %}{{ page.footer_img }}{% else %}me{% endif %}2.png'" onmouseout="this.src='/img/i/footer/{% if page.footer_img %}{{ page.footer_img }}{% else %}me{% endif %}1.png'"> 
    </div>
    <div class="sidebar_fz6m" id="footer_me_e"> 
        <a href="#top">
        <img src="/img/i/footer/{% if page.footer_img %}{{ page.footer_img }}{% else %}me{% endif %}3.png" alt="回到顶部" onmouseover="this.src='/img/i/footer/{% if page.footer_img %}{{ page.footer_img }}{% else %}me{% endif %}4.png'" onmouseout="this.src='/img/i/footer/{% if page.footer_img %}{{ page.footer_img }}{% else %}me{% endif %}3.png'"> 
        </a>
    </div>
<footer><a href="/maoqiu"><img class="tubiao" src="/img/i/footer/1.png" alt="关于我" title="关于我"/></a></footer>

<div id="sidebar_fz6m">
    <br><br>
    <a onclick="dw(dwb=分享_fo_m)"><img class="footer_me_m" src="/img/i/footer/{% if page.footer_img %}{{ page.footer_img }}{% else %}me{% endif %}2.png" alt="分享"></a>
    <a href="#top"><img class="footer_me_e" src="/img/i/footer/{% if page.footer_img %}{{ page.footer_img }}{% else %}me{% endif %}4.png" alt="回到顶部"></a>
</div>

<script>
// $(document).ready(function() {
// $("#footer_me_m").hide();
// $("#footer_me_e").hide();
// $(function() {
//     $(window).scroll(function() {
//         if ($(this).scrollTop() > 100) {
//             $('#footer_me_m').fadeIn();
//             $('#footer_me_e').fadeIn();
//         } else {
//             $('#footer_me_m').fadeOut();
//             $('#footer_me_e').fadeOut();
//         }
//     });
    $('#footer_me_e a').click(function() {
        $('body,html').animate({
            scrollTop: 0
        }, 200);
        return false;
    });
// });
// });

let 分享_fo_m=window.location.href;
分享_fo_m=分享_fo_m.replace(/xn--7qvz7xssa/g, "李猫球");
分享_fo_m=分享_fo_m.replace(/http:\/\//g, "https://");
分享_fo_m=decodeURI(分享_fo_m);

if(分享_fo_m=="{{ site.mq_url }}/{{ page.permalink }}"){
    分享_fo_m="<h4 class=\"dn_inline\">分享本页</h4>（点击复制链接）<br><span class=\"jinshouji\"><hr></span><span class=\"jindiannao\">　 </span><a class=\"footer_anniu\" onclick=\"footer分享_b(footer分享_a='{{ site.mq_url }}/{{ page.permalink }}')\">{{ site.mq_url }}/{{ page.permalink }}</a>{% for item in page.redirect_from %}<br><span class=\"jinshouji\"><hr></span><span class=\"jindiannao\">　 </span><a class=\"footer_anniu\" onclick=\"footer分享_b(footer分享_a='{{ site.mq_url }}/{{ item }}')\">{{ site.mq_url }}/{{ item }}</a>{% endfor %}";
}else{
    分享_fo_m="<h4 class=\"dn_inline\">分享本页</h4>（点击复制链接）<br><span class=\"jinshouji\"><hr></span><span class=\"jindiannao\">　 </span><a class=\"footer_anniu\" onclick=\"footer分享_b(footer分享_a='"+分享_fo_m+"')\">"+分享_fo_m+"</a>";
}

let footer分享_a;
function footer分享_b(){
    notyf.confirm("已复制");
    复(制=footer分享_a);
    dw_x();
}
</script>

