<br><br><hr>
<style>
    textarea#veditor{
        height:160px;
        background-attachment: scroll,scroll;
        background-image: url('/img/background/pinglun/a1.png'),url('/img/background/pinglun/a2.png');
        background-repeat:no-repeat,no-repeat;
        background-position:bottom left,bottom right;}
    .vemoji{width:40px !important;height:auto !important;}
    .vemojis i{width:50px !important;}
    .vemoji{width:40px !important;}
    p .vemoji{width:56px !important;}
    .vsys,.markdown{display:none !important;}
    .vimg{width:70px !important; height:70px !important;}
    /* .vnick{font-size:1.1em !important;} */
</style>
<div id="v_pl_s"></div>
<div id="vcomments" style="width:90%;"></div>