<!-- onclick="dw(dwb='弹窗内容',dwd='标题')" -->
<style>
.dw_zz {position: fixed;left: 0px;top: 0px;background: #00000050;width: 100%;height: 100%;z-index: 2009;color:#404040;}
.dw_tk {position: relative;background: #fff;top: 20px;width: 60%;height: 65%;border-radius: 20px;margin: 5% auto;padding: 30px 50px;font-size: 1.2em;line-height: 33px;font-weight: bold;}
#dw_hd {height: 100%;overflow: auto;background-color: #fff;}
#dw_hd_r {position: absolute;width: 25px;height: 25px;border-radius: 5px;background: red;color: #fff;right: 15px;top: 15px;text-align: center;cursor: pointer;}
#dw_hd_r:hover {background-color: #ff5858;}
#dw_x {width: 100%;height: 100%;position: absolute;}
#dwc{background-color: #fff;font-size:16px;font-weight:normal;}
/* [onclick^="dw(dwb="]{ */
.dw_lj{cursor: pointer;border-bottom: 1.8px dotted #08f;}

@media screen and (max-width: 729px){
    .dw_tk{width:85%;height:75%;padding: 10px 20px;}
}
</style>

<div class="dw_zz" id='dw_zz'><div id="dw_x" onclick="dw_x()"></div><div class="dw_tk"><div id="dw_hd"><span id="dwd"></span><span id="dwc">

</span><div id="dw_hd_r" onclick="dw_x()" class="bukexuanzhong">×</div></div></div></div>

<script>
    document.getElementById('dw_zz').style.display = "none";
    document.getElementById('dw_x').style.display = "none";
    let dwb = "";
    let dwd = "0";
    function dw() {
        document.getElementById('dw_x').style.display = "";
        document.getElementById('dw_zz').style.display = "";
        if(isNaN(dwb)){} else {
            let 地址="/zk/"+dwb+".json";
            let GetJson = $.ajax({
                url: 地址,//json文件位置
                type: "GET",
                dataType: "json",
                async: false,
                success: function (data) {
                }
            });
            dwb=GetJson.responseText;
        }
        if(dwd!="0"){
            document.getElementById("dwd").innerHTML = "<h3>"+dwd+"</h3>";
            dwd="0";
        }else{
            document.getElementById("dwd").innerHTML = "";
        }
        document.getElementById("dwc").innerHTML = dwb;
    }
    function dw_x() {
        document.getElementById('dw_zz').style.display = "none";
        document.getElementById('dw_x').style.display = "none";
    }
</script>