<div class="dw_zz" id='dw_zz'><div id="dw_x" onclick="dw_x()"></div><div class="dw_tk"><div id="dw_hd"><span id="dwd"></span><span id="dwc">
    加载中……<small>（如果长时间停留在此处，请尝试刷新页面）</small>
</span><div id="dw_hd_r" onclick="dw_x()" class="bukexuanzhong">×</div></div></div></div>

<script>
    document.getElementById('dw_zz').style.display="none";
    document.getElementById('dw_x').style.display="none";
    let dwb = "";
    let dwd = "0";
    let dwe = "";
    function dw() {
        document.getElementById('dw_x').style.display="";
        document.getElementById('dw_zz').style.display="";
        document.getElementById('dw_zz').scrollTop=0;
        if(isNaN(dwb)){}else{
            if(dwe!=""){dwe=dwb+"#"+dwe;}else{dwe=dwb;}
            dwb="<iframe src=\"/i/"+dwe+"\" frameborder=\"0\" width=\"100%\" height=\"100\" id=\"／／"+dwb+"\"></iframe><p id=\"／"+dwb +"／\">加载中..</p>";
        }
        if(dwd!="0"){
            document.getElementById("dwd").innerHTML="<h3>"+dwd+"</h3>";
            dwd="0";
        }else{
            document.getElementById("dwd").innerHTML="";
        }
        dwb=dwb.replace(/［引号］/g, "\"");
        document.getElementById("dwc").innerHTML=dwb;
    }
    function dw_x() {
        document.getElementById("dwc").innerHTML="";
        document.getElementById("dwd").innerHTML="";
        document.getElementById('dw_zz').style.display="none";
        document.getElementById('dw_x').style.display="none";
    }
</script>