<style>
.qbt{color: #fff;cursor: default;font-weight: 800;}
.qbt {position: absolute;left: {% if page.nav_qbt_left %}{{ page.nav_qbt_left }}{% else %}{{ site.nav_qbt_left }}{% endif %};top: 15%;font-size: 60px;}

.qbt svg {
overflow: visible;
height: 2em;
}
.qbt text{
text-anchor: middle; /*文本居中*/
fill: currentColor;  /*文本颜色*/
}
.qbt use{
stroke: #000000;    /*描边颜色*/
stroke-width: 12px;  /*控制描边宽度*/
stroke-linejoin: round;  /*描边转角处理方式*/
}

#head_img {background-repeat: no-repeat;background-size: 100%;}
#head_img:after {content: "";display: block;padding-bottom: 40%;}</style>
<div id="head_img" style="background-image: url('{{ site.mq_d }}/img/nav/{% if page.nav_img %}{{ page.nav_img }}{% else %}{{ site.nav_img }}{% endif %}');"></div>
<img class="yincang" style="width:1px;" src="{{ site.mq_d }}/img/nav/{% if page.nav_img %}{{ page.nav_img }}{% else %}{{ site.nav_img }}{% endif %}" onerror="改头图();this.src='/img/nav/{% if page.nav_img %}{{ page.nav_img }}{% else %}{{ site.nav_img }}{% endif %}';this.onerror=null;">
<script>
function 改头图(){
head_img.style.backgroundImage= "url('/img/nav/{% if page.nav_img %}{{ page.nav_img }}{% else %}{{ site.nav_img }}{% endif %}')";
}
</script>

<div class="qbt text"><svg><use xlink:href="#text"></use><text id="text">{% if page.nav_text %}{{ page.nav_text }}{% else %}{% endif %}</text></svg></div>
