<style>
.qbt{color: #fff;cursor: default;font-weight: 800;letter-spacing:3px;position: absolute;left: {% if page.nav_qbt_left %}{{ page.nav_qbt_left }}{% else %}50%{% endif %};}

.qbt svg {
overflow: visible;
height: 2em;
}
.qbt text{
text-anchor: middle;
fill: currentColor;
}
.qbt use{
stroke: #000000;
stroke-width: 11px;
stroke-linejoin: round;
}

@media (max-width: 730px) { /*小于730px*/
.qbt{top: 18%;font-size: 35px;}
.qtb use{stroke-width: 8px;}
}

@media (min-width: 730px) { /*大于730*/
.qbt{top: 30%;font-size: 60px;}
.qbt use{stroke-width: 10px;}
}

@media (min-width: 950px) { /*大于950*/
.qbt{top: 35%;font-size: 70px;}
.qbt use{stroke-width: 11px;}
}

#head_img {background-repeat: no-repeat;background-size: 100%;}
#head_img:after {content: "";display: block;padding-bottom: 40%;}</style>
<div id="head_img" style="background-image: url('{{ site.mq_d }}/img/nav/{% if page.nav_img %}{{ page.nav_img }}{% else %}{{ site.nav_img }}{% endif %}');"></div>
<img class="yincang" style="width:1px;" src="{{ site.mq_d }}/img/nav/{% if page.nav_img %}{{ page.nav_img }}{% else %}{{ site.nav_img }}{% endif %}" onerror="改头图();this.src='/img/nav/{% if page.nav_img %}{{ page.nav_img }}{% else %}{{ site.nav_img }}{% endif %}';this.onerror=null;">
<script>
function 改头图(){
head_img.style.backgroundImage= "url('/img/nav/{% if page.nav_img %}{{ page.nav_img }}{% else %}{{ site.nav_img }}{% endif %}')";
}
</script>

<div class="qbt text"><svg><use xlink:href="#text"></use><text id="text">{% if page.nav_text %}{{ page.nav_text }}{% else %}{% endif %}</text></svg></div>
