<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
<script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    init({
    el: '#waline',
    serverURL: 'https://example.limaoqiu.com',

    emoji:['/img/i/em/kmj','/img/i/em/bqb','/img/i/em/mq','/img/i/em/BBS'],
    search: false,//搜索表情包

    locale:{
        placeholder:"随便喵两句？",
        sofa:"本页还没有评论",
    },

    reaction: [
    '/img/i/avatar/20220529.gif',
  ],

    });
</script>