<br><br><hr>
<style>
    textarea#wl-edit{
        height:160px;
        background-attachment: scroll,scroll;
        background-image: url('/img/background/pinglun/a1.png'),url('/img/background/pinglun/a2.png');
        background-repeat:no-repeat,no-repeat;
        background-position:bottom left,bottom right;
        }
    .wl-panel{background-color:#ffffff10 !important;}
    /* .wl-emoji{min-width:30px;height:auto;} */
    .wl-meta{display:none !important;}
    [aria-label='Markdown is supported']{display:none !important;}
    [src^="/img/i/em/mq/"],[src^="/img/i/em/bqb/"]{transform:scale(3)}
    [src^="/img/i/em/BBS/"]{transform:scale(1.6)}
    .wl-emoji{padding:8px}
</style>
<div id="waline"></div>