<script src='/5/new/vcomments/Valine.min.js'></script>
<script src="/5/new/vcomments/Leancloud.min.js"></script>
<style>
.vsys{display:none;}
</style>
<br><br><br>
<div id="vcomments"></div>
<script>
    new Valine({
        el: '#vcomments',
        appId: 'mCBnOpmsOyb6hrMiiKQ3kuRu-gzGzoHsz',
        appKey: 'YCCregxILHitovzescjVs4X1',
        Array: ['nick'],
        visitor: true,
        
        emojiCDN: '/img/i/em/kmj/',
        emojiMaps: {
        "e02": "02.jpg",
        "e07": "07.jpg",
        "e13": "13.jpg",
        "e15": "15.jpg",
        "e16": "16.jpg",
        "e18": "18.jpg",
        "e21": "21.jpg",
        "e22": "22.jpg",
        "e25": "25.jpg",
        "e28": "28.jpg",
        "e29": "29.jpg",
        "e31": "31.jpg",
        "e34": "34.jpg",
        "e38": "38.jpg",
        "e41": "41.jpg",
        "e44": "44.jpg",
        "e47": "47.jpg",
        "e53": "53.jpg",
        "e58": "58.jpg",
        "e60": "60.jpg",
        "e70": "70.jpg",
        "e75": "75.jpg",
        "e78": "78.jpg",
        "e79": "79.jpg",
        "e80": "80.jpg",
    }

    })
</script>