<script src='/5/new/vcomments/Valine.min.js'></script>
<script src="/5/new/vcomments/Leancloud.min.js"></script>
<style>
.vsys{display:none;}
</style>
<br><br><br>
<div id="vcomments"></div>
<script>
    new Valine({
        el: '#vcomments',
        appId: 'mCBnOpmsOyb6hrMiiKQ3kuRu-gzGzoHsz',
        appKey: 'YCCregxILHitovzescjVs4X1',
        Array: ['nick'],
        visitor: true,
        
        emojiCDN: '/img/i/em/',
        emojiMaps: {
        "e02": "kmj/02.jpg",
        "e07": "kmj/07.jpg",
        "e13": "kmj/13.jpg",
        "e15": "kmj/15.jpg",
        "e16": "kmj/16.jpg",
        "e18": "kmj/18.jpg",
        "e21": "kmj/21.jpg",
        "e22": "kmj/22.jpg",
        "e25": "kmj/25.jpg",
        "e28": "kmj/28.jpg",
        "e29": "kmj/29.jpg",
        "e31": "kmj/31.jpg",
        "e34": "kmj/34.jpg",
        "e38": "kmj/38.jpg",
        "e41": "kmj/41.jpg",
        "e44": "kmj/44.jpg",
        "e47": "kmj/47.jpg",
        "e53": "kmj/53.jpg",
        "e58": "kmj/58.jpg",
        "e60": "kmj/60.jpg",
        "e70": "kmj/70.jpg",
        "e75": "kmj/75.jpg",
        "e78": "kmj/78.jpg",
        "e79": "kmj/79.jpg",
        "e80": "kmj/80.jpg",
    }

    })
</script>