<!-- do not set the version number -->
<!-- <script src="//unpkg.com/valine/dist/Valine.min.js"></script> -->
<!-- or set latest -->
<!-- <script src="//unpkg.com/valine@latest/dist/Valine.min.js"></script> -->
<!-- or Default value -->
<!-- <script src="//unpkg.com/valine"></script> -->
<script src="/js/valine1.js"></script>
<script>
let v_pl_a=["a"];
let v_pl_b={
    "3.16":["mqsr"],
    "10.31":["wsj"],
    "11.1":["wsj"],

    "2026.3.3":["tym","tye"],//元宵节
};
let v_pl_c=new Date().getMonth()+1+"."+new Date().getDate();
if(v_pl_b[v_pl_c]){v_pl_a=v_pl_b[v_pl_c];}
v_pl_c=new Date().getFullYear()+"."+v_pl_c;
if(v_pl_b[v_pl_c]){v_pl_a=v_pl_b[v_pl_c];}
v_pl_b=new Date().getTime();
v_pl_b=Math.floor(v_pl_b/1000/60/60);
v_pl_b=v_pl_b%v_pl_a.length;
v_pl_b=v_pl_a[v_pl_b];
v_pl_b="/img/background/pinglun/"+v_pl_b;
document.getElementById("v_pl_s").innerHTML = "<style>textarea#veditor{background-image: url('"+v_pl_b+"1.png'),url('"+v_pl_b+"2.png');}</style>";

new Valine({
    el: '#vcomments',
    appId: 'mCBnOpmsOyb6hrMiiKQ3kuRu-gzGzoHsz',
    appKey: 'YCCregxILHitovzescjVs4X1',
    Array: ['nick'],
    avatar: 'mp',//mp hide
    visitor: true,
    placeholder: "随便喵两句？(暂时没有邮件通知功能……)",

    emojiCDN: '{{ site.mq }}/img/i/em/',
    emojiMaps: {
        "k02": "kmj/02.jpg",
        "k07": "kmj/07.jpg",
        "k13": "kmj/13.jpg",
        "k15": "kmj/15.jpg",
        "k16": "kmj/16.jpg",
        "k18": "kmj/18.jpg",
        "k21": "kmj/21.jpg",
        "k22": "kmj/22.jpg",
        "k25": "kmj/25.jpg",
        "k28": "kmj/28.jpg",
        "k29": "kmj/29.jpg",
        "k31": "kmj/31.jpg",
        "k34": "kmj/34.jpg",
        "k38": "kmj/38.jpg",
        "k41": "kmj/41.jpg",
        "k44": "kmj/44.jpg",
        "k47": "kmj/47.jpg",
        "k53": "kmj/53.jpg",
        "k58": "kmj/58.jpg",
        "k60": "kmj/60.jpg",
        "k70": "kmj/70.jpg",
        "k75": "kmj/75.jpg",
        "k78": "kmj/78.jpg",
        "k79": "kmj/79.jpg",
        "k80": "kmj/80.jpg",
        "m01": "mq/01.jpg",
        "m02": "mq/02.jpg",
        "m03": "mq/03.jpg",
        "m04": "mq/04.jpg",
        "m05": "mq/05.jpg",
        "m06": "mq/06.jpg",
        "m07": "mq/07.jpg",
        "m09": "mq/09.jpg",
        "m10": "mq/10.jpg",
        "m11": "mq/11.jpg",
        "m12": "mq/12.jpg",
        "m13": "mq/13.jpg",
        "m14": "mq/14.jpg",
        "m17": "mq/17.jpg",
        "m18": "mq/18.jpg",
        "m20": "mq/20.jpg",
        "q03": "mq/b03.jpg",
        "q04": "mq/b04.jpg",
        "q06": "mq/b06.jpg",
        "e01": "mq/c01.jpg",
        "e02": "mq/c02.jpg",
        "e03": "mq/c03.jpg",
        "e04": "mq/c04.jpg",
        "e05": "mq/c05.jpg",
        "e06": "mq/c06.jpg",
        "e07": "mq/c07.jpg",
        "e08": "mq/c08.jpg",
        "e09": "mq/c09.jpg",
        "e10": "mq/c10.jpg",
        "huffy": "BBS/huffy.gif",
        "lol": "BBS/lol.gif",
        "loveliness": "BBS/loveliness.gif",
        "titter": "BBS/titter.gif",
        "b01": "bqb/b01.jpg",
        "b02": "bqb/b02.jpg",
        "b03": "bqb/b03.gif",
        "b04": "bqb/b04.gif",
        "b05": "bqb/b05.jpg",
        "b06": "bqb/b06.jpg",
        "b07": "bqb/b07.gif",
    }
})
</script>