let datb=[data[0]]; //数字为dw 文字直接显示 超过15字dw

for(let i=1;data.length>i;i++){
    let 临时=datb.length;
    let 记录=0;
    while (datb.length==临时){
        if(datb[记录][0]>data[i][0]){
            if(记录+1==datb.length){datb[datb.length]=data[i];}
        }else{
            datb.splice(记录,0,data[i]);
        }
        记录+=1;
    }
}

    let 并列=[0,0];
    for(let i=0;datb.length>i;i++){
        let 临时2=i+1;
        if(datb[i][0]==并列[1]){
            临时2="-";
        }else{
            并列[0]=临时2;
            并列[1]=datb[i][0];
        }
        dy+="<tr><td>"+临时2+"</td><td onclick=\"复(制='"+datb[i][1]+"')\">"+datb[i][1]+"</td>";
        临时2=datb[i][0]/10;
        if(临时2>10){临时2="10+";}if(临时2<0){临时2="0-";}
        dy+="<td>"+临时2+"</td><td>";
            for(let i2=2;datb[i].length>i2;i2++){
                临时2=datb[i][i2]+"";
                if(临时2.length==1){临时2+=".0";}
                if (datb[i][i2].indexOf("：") != -1){
                    临时2=临时2.split("：");
                    dy+="<a onclick=\"dw(dwb='"+临时2[1]+"')\">"+临时2[0]+"</a> ";
            }else if(临时2>0||临时2.length>15){
                dy+="<a onclick=\"dw(dwb='"+临时2+"')\">更多</a> ";
            }else{
                dy+=临时2+" ";
            }
        }
        dy+="</td></tr>";
    }
dy+="</table>";

document.getElementById("结果").innerHTML = dy;

function 查重(){
    let 查重列表="／";
    for(let i=0;datb.length>i;i++){
        if (查重列表.indexOf("／"+datb[i]+"／") != -1){
            alert(datb[i]);
            }else{
                查重列表+=datb[i]+"／";
            }
    }
    alert("结束");
}
</script>

<a onclick="查重()">.</a>
