---
layout: default
---
<style>
    html,body {margin: 0;padding: 0;}

    @media screen and (min-width: 768px) { /*电脑*/
    .biaotib {text-align: center;position: relative;font-size: 3.5em;color: #0bb1f5;font-weight: bold;cursor: default;}
    div.body {position: relative;top: 50px;width: 70%;margin: auto;}
} /*电脑*/

@media screen and (max-width: 768px) { /*手机*/
    .biaotib {text-align: center;position: relative;font-size: 2.3em;color: #0bb1f5;font-weight: bold;cursor: default;}
    div.body {position: relative;top: 50px;width: 96%;margin: auto;}
} /*手机*/

    #输入框 {text-align:center;vertical-align:middle;}
    #输入框 input {
        line-height: 36px;
        font-size: 1.4em;
        text-align: center;
        padding: .5em .7em;
        max-width: 30em;
        width: 80%;
        background: #F8F8F8;
        border-style: solid;
        border-width: medium;
        border-color: #00a2ff;
        border-radius: 20px;
        outline: none;
    }
    #输入框 input:focus {box-shadow: 0 1px 0 1px #DDD inset, 0 2px 5px #00000033;border-color:#0095eb;}

    #back-top {display: none;}
    footer {float: left;width: 100%;}

    .cj{
        float:left;
        margin:10px;
        padding:5px 10px;
        border-width:2px;border-color:#000;border-style:solid;border-radius:10px;
        opacity: 0.8;filter: alpha(opacity=80);transition: all 0.3s;position: relative;font-size: 90%;
        background-color: #fff;}
    .cj:hover {opacity: 1.0;filter: alpha(opacity=100);transform: scale(1.2);z-index: 10;}
    .tsxt {border: 1px solid #c0c0c0;visibility: hidden;width: 157px;background-color: #fff;text-align: center;border-radius: 6px;padding: 5px 0;font-size: 85%;position: absolute;z-index: 1;top: 22px;left: -2px;margin-left: 0px;}
    .cj:hover .tsxt {visibility: visible;transform: translate(0, 20px);transition: all 0.5s;}
    .a{border-color:#77C94B;}
    .b{border-color:#CB4E3D;}
    .c{border-color:#727272;}
    .d{border-color:#165B92;}
</style>

</head>

<body onload="document.getElementById('输入').focus()">    <div class="body">
    <div class="biaotib">{% if page.nav_text %}{{ page.nav_text }}{% else %}{% endif %}</div>
    <form id="输入框" autocomplete="off">
    <input type="text" style="display:none" />
    <input type="text" id="输入" placeholder="多个关键词用空格分隔" /></form>

    {{ content }}

    <script>// 0文字／1关键词／2颜色／3额外文字／4u或o／5展开 a绿色 b红色 c灰色 d蓝色
    let dy;
    let datb;

    function 打乱(){
        let p = Array.from(data), i, a = [];
            while (p.length > 0) {
                i = parseInt(Math.random() * p.length);
                a.push(p[i]);
                p.splice(i, 1);
            }

            datb = a;
    }

    function 显示(){
        let 次数=32;
        dy="<div class=\"cj c\" onclick=\"随机显示()\">随机显示</div>";
        for(let i=0;次数-i!=0&&datb.length!=0;i++){
            let 临时=datb[0].split("／");
            dy+="<div class=\"cj "+临时[2]+"\">";
                if(临时[4]=="u"){
                    dy += "<a href=\""+临时[5]+"\" target=\"_blank\">";
                }
                if(临时[4]=="o"){
                    dy += "<a onclick=\""+临时[5]+"\">";
                }
                dy+=临时[0];
                if(临时[4]=="u"||临时[4]=="o"){dy += "</a>";}
                if (临时[3]) {dy += "<span class=\"tsxt hs\">" + 临时[3] + "</span>";}
                dy += "</div>";
                datb.splice(0, 1);
        }
        
        document.getElementById("dy").innerHTML = dy;
    }

    $("#输入").keyup(function () {
    let 输入 = $("#输入").val();
    if(输入==""){
        随机显示();
    }else{
        datb=new Array();
        输入=输入.split(" ");

        for(let i2=0;data.length>i2;i2++){
            let 临时=data[i2].split("／"); 
            临时=临时[0]+临时[1];
            let 临时2=0;
            for(let i=0;输入.length>i;i++){
                if(临时.indexOf(输入[i]) != -1){}else{临时2=1;}
            }

            if(临时2==0){
                datb[datb.length]=data[i2];
            }
        }
    显示();
    }
    })

    function 随机显示(){
        打乱();
        显示();
    }
    随机显示();
    </script>

{% if page.pinglun %}{% include Valine.html %}{% endif %}

{% if page.footer_me %}{% else %}{% include footer_mqec.html %}{% endif %}
{% if page.footer_me == 1 %}{% include footer.html %}{% endif %}

</div>

{% include nav.html %}

</body>