---
layout: default
---
<style>
html,body {margin: 0;padding: 0;}
body {
background-color:{% if page.nav_bc %}{{ page.nav_bc }}{% else %}#5C5588{% endif %};
background-image:url('/img/nav/{% if page.nav_img %}{{ page.nav_img }}{% else %}boke.jpg{% endif %}');
background-repeat:no-repeat ;background-size:100% auto;
background-attachment: fixed;
}
footer {float: left;width: 100%;}
#fanye {float: left;width: 100%;text-align: center;margin-top: 50px;color:#9b9b9b;text-shadow:#3b3b3b 0 2px 2px;}
#fanye a{color:#fff;}
.grid {
margin: 50% auto 50px;
width: 90%;
}

.grid a {
float: left;
color: #333;
}

.grid figure {
position: relative;
overflow: hidden;
margin: 5px;
background: #333;
}

.grid figure img {
position: relative;
display: block;
width: 100%;
opacity: 0.7;
-webkit-transition: opacity 0.3s;
transition: opacity 0.3s;
}

.grid figcaption {
position: absolute;
top: -30px;
padding: 10px;
width: 100%;
height: 100%;
text-align: center;
}

.grid figcaption:hover {top: 0px;}

.grid figcaption h2 {
margin: -5px 0 5px 0;
color: #3498db;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 700;
font-size: 130%;
-webkit-transition: -webkit-transform 0.3s;
transition: transform 0.3s;
}

.grid figcaption p {
margin: 0;
padding: 0 20px;
color: #aaa;
font-weight: 400;
font-size: 0.9em;
-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
-webkit-transform: translateY(50px);
transform: translateY(50px);
}

.grid figure button {
position: absolute;
padding: 4px 20px;
border: none;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: bold;
-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
transition: opacity 0.3s, transform 0.3s;

}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.grid svg {
position: absolute;
top: -1px;
width: 100%;
height: 100%;
}

.grid svg path {
fill: #fff;
}

.grid a:hover figure img {
opacity: 1;
}

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
-webkit-transform: translateY(0);
transform: translateY(0);
}

.grid a:hover figcaption p {
opacity: 0;
}

.isaac-1 .grid figure button {
top: 30%;
left: 50%;
border: 3px solid #fff;
background: transparent;
color: #fff;
background-color: #50505040;
opacity: 0;
-webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
transform: translateY(-50%) translateX(-50%) scale(0.25);
font-size: 1.3em;
}

.isaac-1 .grid a:hover figure button {
opacity: 1;
-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
transform: translateY(-50%) translateX(-50%) scale(1);
}

@media (max-width: 730px) { /*小于730px*/
.qbt {color: #fff;text-shadow: #000 3px 0 0, #000 0 3px 0, #000 -3px 0 0, #000 0 -3px 0;cursor: default;font-weight: 800;}
.qbt {position: absolute;left: {% if page.nav_qbt_left %}{{ page.nav_qbt_left }}{% else %}{{ site.nav_qbt_left }}{% endif %};top: 8%;font-size: 30px;}
.grid a{margin: 0 0 0 0;}
.grid a {width: 100%;}
}

@media (min-width: 730px) { /*大于730*/
.qbt {color: #fff;text-shadow: #000 5px 0 0, #000 0 5px 0, #000 -5px 0 0, #000 0 -5px 0;cursor: default;font-weight: 800;}
.qbt {position: absolute;left: {% if page.nav_qbt_left %}{{ page.nav_qbt_left }}{% else %}{{ site.nav_qbt_left }}{% endif %};top: 15%;font-size: 60px;}
.grid a:nth-child(2n){margin: -30px 0 30px 0;}
.grid a {width: 50%;}
}

@media (min-width: 950px) { /*大于950*/
.qbt {position: absolute;left: {% if page.nav_qbt_left %}{{ page.nav_qbt_left }}{% else %}{{ site.nav_qbt_left }}{% endif %};top: 25%;font-size: 70px;}
.grid a:nth-child(2n){margin: 0 0 0 0;}
.grid a:nth-child(1),.grid a:nth-child(3n),.grid a:nth-child(3n+1){margin: -30px 0 30px 0;}
.grid a {width: 33%;}
}

.grid_shijian{
-moz-transform: rotate(17deg);
-webkit-transform: rotate(17deg);
display: block;
position: absolute;
right:10%;
top:50%;
font-size:0.9em;
color:#aaa;
}

.grid_yincang{display:none;}

#bokebeijing{
position: fixed;bottom:0%;width: 100%;height:100%;z-index:-2000;
background-image: url('/img/nav/{% if page.nav_img %}{{ page.nav_img }}{% else %}boke.jpg{% endif %}');
background-size:100% auto;
background-position: center top;
/* background-size: cover; */
background-attachment: fixed;
-webkit-filter: blur(15px);
-moz-filter: blur(15px);
-ms-filter: blur(15px);
-o-filter: blur(15px);
filter: blur(15px);
}

h2:before{content:"";}
</style>
</head>
<body>
<span class="qbt">{% if page.nav_text %}{{ page.nav_text }}{% else %}{% endif %}</span>
<div class="isaac-1">
<script src="/5/new/snap.svg-min.js"></script>
<div class="container" id="dy">
</div>
</div>
<div id="bokebeijing"></div>
<div id="fanye" class="bukexuanzhong"></div>
<script>
let data=[
{{ content }}
];
let data_img=[
"102","103","105","106","107","108","109","110","111","112","113",
];
let datb_img=0;

let datb=[[]];
let datb_a=0;
let datb_b=0;
let datb_c=0;
for(let i=0;data.length>i;i++){
if(datb_c>11){datb_c=0;datb_b+=1;datb[datb_b]=[];}
datb[datb_b][datb_c]=data[datb_a];
datb_a+=1;
datb_c+=1;
}
datb_b+=1;

let 当前页=1;
let 翻="";
let 临时;
function 翻页(){
if(翻!=""){
$('body,html').animate({
scrollTop: 480
}, 100);
}
if(翻>0){当前页=翻;}else if(翻=="上一页"){当前页-=1;}else if(翻=="下一页"){当前页+=1;}
翻=当前页-1;
data=datb[翻];
let dy="<section id=\"grid\" class=\"grid clearfix\">";
let grid_sj=1;
for(let i=0;data.length>i;i++){
let grid_tupian=data[i][4];
if(grid_tupian==""){if(data_img.length==datb_img){grid_tupian=data_img[0];datb_img=1;}else{grid_tupian=data_img[datb_img];datb_img+=1;}}
if(grid_tupian>0){grid_tupian="src=\"{{ site.mq_d }}/i/cj/"+grid_tupian+".jpg\" onerror=\"this.src='/i/cj/"+grid_tupian+".jpg';this.onerror=null;\"";
}else{grid_tupian="src=\""+grid_tupian+"\"";}
let grid_lianjie=data[i][2];
if(grid_lianjie>0){grid_lianjie="onclick=\"dw(dwb='"+grid_lianjie+"',dwd='"+data[i][0]+"')\"";}else{grid_lianjie="href=\""+grid_lianjie+"\"";}
dy+="<a "+grid_lianjie+" data-path-hover=\"M 0,0 0,38 90,58 180.5,38 180,0 z\" onmouseover=\"grid_s(grid_j='"+grid_sj+"')\" onmouseout=\"grid_ss(grid_j='"+grid_sj+"')\"><figure><img "+grid_tupian+"/><svg viewBox=\"0 0 180 320\" preserveAspectRatio=\"none\"><path d=\"M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z \"/></svg><figcaption><h2>"+data[i][0]+"</h2><p>"+data[i][1]+"</p><span class=\"grid_shijian\" id=\"sj"+grid_sj+"\">"+data[i][3]+"</span><button class=\"cursor_pointer\">"+data[i][5]+"</button></figcaption></figure></a>";
grid_sj+=1;
}
dy+="</section>";
document.getElementById("dy").innerHTML = dy;

dy="";
if(当前页!=1){dy+="<a onclick=\"翻页(翻='上一页')\">上一页</a>";}
for(let i=0;datb_b>i;i++){
临时=i+1;
if(当前页==临时){dy+="　"+当前页;}else{dy+="　<a onclick=\"翻页(翻="+临时+")\">"+临时+"</a>";}
}
if(datb_b!=当前页){dy+="　<a onclick=\"翻页(翻='下一页')\">下一页</a>";}
document.getElementById("fanye").innerHTML = dy;

(function () {
function init() {var speed = 300,easing = mina.backout;[].slice.call(document.querySelectorAll('#grid > a')).forEach(function (el) {
var s = Snap(el.querySelector('svg')), path = s.select('path'),
pathConfig = {from: path.attr('d'),to: el.getAttribute('data-path-hover')};
el.addEventListener('mouseenter', function () {
path.animate({ 'path': pathConfig.to }, speed, easing);});
el.addEventListener('mouseleave', function () {path.animate({ 'path': pathConfig.from }, speed, easing);});});}init();})();

}
翻页();

let grid_j="";
function grid_s(){document.getElementById('sj'+grid_j).className = "grid_yincang";}
function grid_ss(){document.getElementById('sj'+grid_j).className = "grid_shijian";}

$('#bokebeijing').fadeOut();
$(document).ready(function() {
$(function() {
$(window).scroll(function() {
	let scroll_i2=$(this).scrollTop();
	if (scroll_i2<460){
		$('#bokebeijing').fadeOut();
	} else{
		$('#bokebeijing').fadeIn();
	}
});
});
});
</script>

{% if page.pinglun %}{% include Valine.html %}{% endif %}

{% if page.footer_me %}{% else %}{% include footer_mqec.html %}{% endif %}
{% if page.footer_me == 1 %}{% include footer.html %}{% endif %}

{% include nav.html %}

{% if page.pinglun %}{% include Valine2.html %}{% endif %}

</body>