---
layout: default
---
<style>
    #contents span{background-color:#fff; display:inline-block; border-top:2px solid #ddd;padding: 10px;}
    #contents span:hover{background: #eee;}
    #输入{width:15%;}

    @media screen and (min-width: 768px) {/*电脑*/
        .qbt {text-align: center;font-size: 3.5em;color: #0bb1f5;font-weight: bold;cursor: default;}
        div.body {position: relative;top: 20px;width: 65%;margin: auto;}
        #contents span{width:30%;text-align:center;}
    }/*电脑*/

    @media screen and (max-width: 767px) {/*手机*/
        .qbt {text-align: center;font-size: 2.3em;color: #0bb1f5;font-weight: bold;cursor: default;}
        div.body {position: relative;top: 20px;width: 96%;margin: auto;}
        #contents span{width:100%;}
    }/*手机*/

    div.auth {text-align: center;}
    span.auth {margin: 0px 20px 0px 20px;}
    footer {position: relative;top: 300px;z-index: -1001;}
    footer img {position: relative;bottom: 50px;display: block;margin: 0 auto;}
    .yidu:after {content: "（已读）";font-size:.5em;color:#808080;font-weight:normal;}
</style>

<div class="body">
    <a href="/">猫球博客</a> {% if page.nav_url %} / {{ page.nav_url }}{% endif %}
    <div class="qbt">{% if page.nav_text %}{{ page.nav_text }}{% endif %}</div>
    <div class="auth">{% if page.wen_auth %}<span class="auth">作者：{{ page.wen_auth }}</span>{% endif %}{% if page.wen_sta %}<span class="auth">状态：{{ page.wen_sta }}</span>{% endif %}<input id="输入" placeholder="搜索" autocomplete="off"/></div>
    <hr>
    <div class="auth"><a href="#最新章节" name="返回顶部"><span class="auth">最新章节</span></a><span id="上次看到" class="auth"></span></div>
    <br/>
    <div id="contents"></div>

    {{ content }}

    <a href="#返回顶部" name="最新章节"><div class="auth" style="border-top:2px solid #ddd"><br/><span class="auth">返回顶部</span></div></a>
    <footer><a href="/maoqiu"><img class="tubiao" src="/img/footer.png"/></a></footer>
</div>

<script>

{% if page.book_item %}
if(localStorage.getItem("{{ page.book_item }}")){
    let sckd=localStorage.getItem("{{ page.book_item }}").split("／");
    sckd = "上次看到：<a href=\"" + sckd[1] + "\" target=\"_blank\">"+ sckd[0] +"</a>";
    document.getElementById("上次看到").innerHTML = sckd;
}
{% endif %}


$("#输入").keyup(function () {
    let 输入=$("#输入").val()
    let 输入2 = 输入.split(" ");
    let 结果 = "";
    for (let i = 0; data.length > i; i++) {
        let 临时 = data[i].split("／");
        let 过程 = "0";

        if(临时[0]=="hr"){
            结果+="<hr><h3>"+临时[1]+"</h3>";
        }
        else{
            for (let i2 = 0; 输入2.length > i2; i2++) {
                if (临时[1].indexOf(输入2[i2]) != -1 && 输入2[i2] != "") { 过程 = "1"; }
            }
            if(过程=="1"||输入==""){
                if(localStorage.getItem(临时[0])){
                    结果+="<a href=\"/i/zk/"+临时[0]+"\" target=\"_blank\"><span class=\"yidu\">"+临时[1]+"</span>";
                }
                else{
                    结果+="<a href=\"/i/zk/"+临时[0]+"\" target=\"_blank\"><span>"+临时[1]+"</span>";
                }
            }
        }
    }
    document.getElementById("contents").innerHTML = 结果;
}).keyup();
</script>
