---
layout: default
---
<style>
html,body {margin: 0;padding: 0;}

@media screen and (min-width: 768px) { /*电脑*/
    .biaotib {text-align: center;position: relative;top: 40px;font-size: 3.5em;color: #0bb1f5;font-weight: bold;cursor: default;}
    div.body {position: relative;top: 50px;width: 65%;margin: auto;}
} /*电脑*/

@media screen and (max-width: 768px) { /*手机*/
    .biaotib {text-align: center;position: relative;top: 50px;font-size: 2.3em;color: #0bb1f5;font-weight: bold;cursor: default;}
    div.body {position: relative;top: 50px;width: 96%;margin: auto;}
} /*手机*/
</style>

</head><body>

<div class="biaotib bukexuanzhong">{% if page.nav_text %}{{ page.nav_text }}{% else %}{% endif %}</div>
<div class="body">

<style>
*{cursor:default;}
p.b{margin-top:-12px;border: 1px solid #c0c0c0;padding:8px;border-radius: 12px;}
</style>

<div id="dy"></div>

{{ content }}

<script>
let p = Array.from(data), i, a = [];
while (p.length > 0) {
    i = parseInt(Math.random() * p.length);
    a.push(p[i]);
    p.splice(i, 1);
}

data = a;

let dy="";

data=datb.concat(data);

for (let i=0;data.length>i;i++){
    if(data[i].indexOf("／") != -1){
        let 临时=data[i].split("／");
        dy += "<p class=\"b\" onmouseover=\"javascript:this.innerHTML='" + 临时[1] + "'\" onmouseout=\"javascript:this.innerHTML='" + 临时[0] + "'\">" + 临时[0] + "</p>";
    }else{
        dy+="<p class=\"b\">"+data[i]+"</p>";
    }
}

document.getElementById("dy").innerHTML = dy;

</script>

{% if page.pinglun %}{% include Valine.html %}{% endif %}

{% if page.footer_me %}{% else %}{% include footer_mqec.html %}{% endif %}
{% if page.footer_me == 1 %}{% include footer.html %}{% endif %}

</div>

{% include nav.html %}

</body>