---
layout: default
---
</head>
<body>
<script>
if(top.location!=self.location){
window.parent.document.getElementById("结果x").style.display = "block";
let ix="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
let ix_输入="{{ content }}";
let ix_b="ixABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghjklmnopqrstuvwyz0123456789";
let 替换 = new RegExp('', "g");
ix_输入 = ix_输入.replace(替换, '／');
for(let i=0;ix_b.length>i;i++){
    let 临时="／"+ix_b[i];
    let 临时b=ix[i];

    替换 = new RegExp(临时, "g");
    ix_输入 = ix_输入.replace(替换, 临时b);
}
替换 = new RegExp("／", "g");
ix_输入 = ix_输入.replace(替换, "");
ix_输入 = window.decodeURIComponent(atob(ix_输入));
window.parent.document.getElementById("结果x").innerHTML = ix_输入;
}
</script>
</body>