---
layout: default
---
<style>
html,body {margin: 0;padding: 0;}

@media (max-width: 730px) { /*小于730px*/
    div.body {position: relative;top: 20px;width: 96%;margin: auto;}
}

@media (min-width: 730px) { /*大于730*/
    div.body {position: relative;top: 20px;width: 80%;margin: auto;}
}

@media (min-width: 950px) { /*大于950*/
    div.body {position: relative;top: 20px;width: 65%;margin: auto;}
}
</style>

</head>

<body>

{% include toutu.html %}

<div class="body">

{{ content }}

{% if page.footer_me %}{% else %}{% include footer_mqec.html %}{% endif %}
{% if page.footer_me == 1 %}{% include footer.html %}{% endif %}

</div>

{% include nav.html %}

{% if page.pinglun %}{% include Valine.html %}{% endif %}

</body>