---
layout: default
---
<style>
html,body {margin: 0;padding: 0;}

@media screen and (min-width: 768px) { /*电脑*/
    .biaotib {text-align: center;position: relative;top: 40px;font-size: 3.5em;color: #0bb1f5;font-weight: bold;cursor: default;}
    div.body {position: relative;top: 50px;width: 65%;margin: auto;}
} /*电脑*/

@media screen and (max-width: 768px) { /*手机*/
    .biaotib {text-align: center;position: relative;top: 50px;font-size: 2.3em;color: #0bb1f5;font-weight: bold;cursor: default;}
    div.body {position: relative;top: 50px;width: 96%;margin: auto;}
} /*手机*/
</style>

</head>

<body>

<div class="biaotib">{% if page.nav_text %}{{ page.nav_text }}{% else %}{% endif %}</div>
<div class="body">

{{ content }}

<script>
let dy="";
let 临时;
for(let i=0;data.length>i;i++){
    临时=data[i].split("／");
    dy+="<div id=\""+i+"\"><fieldset><legend>"+临时[0]+"</legend>"+临时[1]+"<br><a onclick=\"蓝色药丸("+i+")\"><img src=\"{{ site.mq_d }}/i/0/0/blue.png\" alt=\"蓝色药丸\" width=\"40px\" onerror=\"this.src='/i/0/0/blue.png';this.onerror=null;\"></a><a onclick=\"红色药丸("+i+")\"><img src=\"{{ site.mq_d }}/i/0/0/red.png\" alt=\"红色药丸\" width=\"40px\" onerror=\"this.src='/i/0/0/red.png';this.onerror=null;\"></a></fieldset></div><br>";
}

document.getElementById("dy").innerHTML = dy;

function 红色药丸(i){
    临时=data[i].split("／");
    dy="<fieldset><legend>"+临时[2]+"</legend>"+临时[3]+"<br><a onclick=\"蓝色药丸("+i+")\"><img src=\"{{ site.mq_d }}/i/0/0/blue.png\" alt=\"蓝色药丸\" width=\"40px\" onerror=\"this.src='/i/0/0/blue.png';this.onerror=null;\"></a><a onclick=\"红色药丸("+i+")\"><img src=\"{{ site.mq_d }}/i/0/0/red.png\" alt=\"红色药丸\" width=\"40px\" onerror=\"this.src='/i/0/0/red.png';this.onerror=null;\"></a></fieldset>";
    document.getElementById(i).innerHTML = dy;
}

function 蓝色药丸(i){
    临时=data[i].split("／");
    dy="<fieldset><legend>"+临时[0]+"</legend>"+临时[1]+"<br><a onclick=\"蓝色药丸("+i+")\"><img src=\"{{ site.mq_d }}/i/0/0/blue.png\" alt=\"蓝色药丸\" width=\"40px\" onerror=\"this.src='/i/0/0/blue.png';this.onerror=null;\"></a><a onclick=\"红色药丸("+i+")\"><img src=\"{{ site.mq_d }}/i/0/0/red.png\" alt=\"红色药丸\" width=\"40px\" onerror=\"this.src='/i/0/0/red.png';this.onerror=null;\"></a></fieldset>";
    document.getElementById(i).innerHTML = dy;
}
</script>

{% if page.pinglun %}{% include Valine.html %}{% endif %}

{% if page.footer_me %}{% else %}{% include footer_mqec.html %}{% endif %}
{% if page.footer_me == 1 %}{% include footer.html %}{% endif %}

</div>

{% include nav.html %}

</body>