---
layout: default
---
<style>
    html,body {margin: 0;padding: 0;}

    @media screen and (min-width: 768px) { /*电脑*/
        .biaotib {text-align: center;position: relative;top: 40px;font-size: 3.5em;color: #0bb1f5;font-weight: bold;cursor: default;}
        div.body {position: relative;top: 50px;width: 65%;margin: auto;}
    } /*电脑*/

    @media screen and (max-width: 768px) { /*手机*/
        .biaotib {text-align: center;position: relative;top: 50px;font-size: 2.3em;color: #0bb1f5;font-weight: bold;cursor: default;}
        div.body {position: relative;top: 50px;width: 96%;margin: auto;}
    } /*手机*/

    /*加载动画*/
    .jiazaidonghua {margin: 100px auto;width: 50px;height: 60px;text-align: center;font-size: 10px;}
    .jiazaidonghua>div {background-color: #ffffff;height: 100%;width: 6px;display: inline-block;-webkit-animation: stretchdelay 1.2s infinite ease-in-out;animation: stretchdelay 1.2s infinite ease-in-out;}
    .jiazaidonghua .jzdhrect2 {-webkit-animation-delay: -1.1s;animation-delay: -1.1s;}
    .jiazaidonghua .jzdhrect3 {-webkit-animation-delay: -1.0s;animation-delay: -1.0s;}
    .jiazaidonghua .jzdhrect4 {-webkit-animation-delay: -0.9s;animation-delay: -0.9s;}
    .jiazaidonghua .jzdhrect5 {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;}
    @-webkit-keyframes stretchdelay {0%,40%,100% {-webkit-transform: scaleY(0.4);}20% {-webkit-transform: scaleY(1.0);}}
    @keyframes stretchdelay {0%,40%,100% {transform: scaleY(0.4);-webkit-transform: scaleY(0.4);}20% {transform: scaleY(1.0);-webkit-transform: scaleY(1.0);}}
    .site-welcome {display: none;justify-content: center;align-items: center;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: #74b8e5;z-index: 101;}
    .site-welcome.active {display: flex;}
</style>

</head>

<body>

    <!--加载动画-->
    <div class="site-welcome active bukexuanzhong" id="siteWelcome">
        <div class="jiazaidonghua">
            <div class="jzdhrect1"></div>
            <div class="jzdhrect2"></div>
            <div class="jzdhrect3"></div>
            <div class="jzdhrect4"></div>
            <div class="jzdhrect5"></div>
            <span style="color:#ffffff">加载中...</span>
        </div>
    </div>

    <div class="biaotib bukexuanzhong">{% if page.nav_text %}{{ page.nav_text }}{% else %}{% endif %}</div>
    <div class="body">

    {{ content }}

    <script>
    let dy="";
    let 临时;
    for(let i=0;data.length>i;i++){
        临时=data[i].split("／");
    dy+="<div id=\""+i+"\"><fieldset><legend>"+临时[0]+"</legend>"+临时[1]+"<br><a onclick=\"红色药丸("+i+")\"><img src=\"/i/0/0/red.png\" alt=\"红色药丸\" width=\"40px\"></a><a onclick=\"蓝色药丸("+i+")\"><img src=\"/i/0/0/blue.png\" alt=\"蓝色药丸\" width=\"40px\"></a></fieldset></div><br>";
    }

    document.getElementById("dy").innerHTML = dy;

    function 红色药丸(i){
    临时=data[i].split("／");
    dy="<div id=\""+i+"\"><fieldset><legend>"+临时[2]+"</legend>"+临时[3]+"<br><a onclick=\"红色药丸("+i+")\"><img src=\"/i/0/0/red.png\" alt=\"红色药丸\" width=\"40px\"></a><a onclick=\"蓝色药丸("+i+")\"><img src=\"/i/0/0/blue.png\" alt=\"蓝色药丸\" width=\"40px\"></a></fieldset></div><br>";
    document.getElementById(i).innerHTML = dy;
    }

    function 蓝色药丸(i){
        临时=data[i].split("／");
    dy="<div id=\""+i+"\"><fieldset><legend>"+临时[0]+"</legend>"+临时[1]+"<br><a onclick=\"红色药丸("+i+")\"><img src=\"/i/0/0/red.png\" alt=\"红色药丸\" width=\"40px\"></a><a onclick=\"蓝色药丸("+i+")\"><img src=\"/i/0/0/blue.png\" alt=\"蓝色药丸\" width=\"40px\"></a></fieldset></div><br>";
    document.getElementById(i).innerHTML = dy;
    }
    </script>



    {% include footer.html %}

    </div>

    <!--关闭加载动画--><script>var siteWelcome = document.getElementById('siteWelcome');siteWelcome.classList.remove('active');</script>

{% include nav.html %}

</body>