---
layout: default
---
<style>
    @media screen and (min-width: 768px) { /*电脑*/
        body{background-color: #F4F8FB;}
        .qbt {text-align: center;margin-top: 1.2em;font-size: 3em;color: #0bb1f5;cursor: default;}
        div.body {position: relative;width: 70%;padding:20px;margin: auto;background-color: #fff;box-shadow: 2px 4px 8px #ddd;line-height: 30px;border-radius: 25px;}
    } /*电脑*/

    @media screen and (max-width: 767px) { /*手机*/
        .qbt {text-align: center;margin-top: 1.2em;font-size: 2.3em;color: #0bb1f5;font-weight: bold;cursor: default;}
        div.body {position: relative;width: 96%;margin: auto;}
    } /*手机*/

    div.auth {text-align: center;}
    span.auth {margin: 0px 20px 0px 20px;}
</style>

</head>

<body>

    <div id="上级"></div>
    <div id="wen_body">
    <script>
    if (top.location == self.location) {
        var 上级dy =
            "<div class=\"qbt\">{% if page.nav_text %}{{ page.nav_text }}{% else %}{% endif %}</div>" +
            "<div class=\"auth\"><span class=\"auth\">作者：{% if page.wen_auth %}{{ page.wen_auth }}{% else %} - {% endif %}</span><span class=\"auth\">时间：{% if page.wen_time %}{{ page.wen_time }}{% else %} - {% endif %}</span></div><hr>";
        document.getElementById("上级").innerHTML = 上级dy;
        document.getElementById("wen_body").className = 'body';}
        else{
        document.getElementById("nav").style.display = "none";
        var bodyH = $(document).height()+{% if page.zk_height %}{{ page.zk_height }}{% else %}0{% endif %};
        {% if page.zk_height_a %}bodyH={{ page.zk_height_a }};{% endif %}
        var bodyJ = window.location.href.split('/i/zk/')[1];
        var bodyK = "／／" + bodyJ;
        var bodyL = "／" + bodyJ + "／";
        window.parent.document.getElementById(bodyK).height = bodyH;
        window.parent.document.getElementById(bodyL).innerHTML = "";

        window.onload = function () {
        bodyH = $(document).height();
        window.parent.document.getElementById(bodyK).height = bodyH;}
        }
        {% if page.book_item %}localStorage.setItem("{{ page.book_item }}", "{{ page.nav_text }}／/{{ page.permalink }}");{% else %}{% endif %}
        let p_link = "{{ page.permalink }}".split("/");
        localStorage.setItem(p_link[2], "1");
    </script>
    <div id="屏幕宽度"></div>
    <style>.js{color:#404040;border-bottom:1px solid #006699;user-select: none;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}
    #dwc sub{color:#6A9955;}#dwc sub:before{content:"//";}
    </style>

    {{ content }}

    if(localStorage.getItem(本页书名+"_进度")){
        let 阅读进度=localStorage.getItem(本页书名+"_进度");
        if(阅读进度<本页章节){localStorage.setItem(本页书名+"_进度",本页章节);}
        }else{localStorage.setItem(本页书名+"_进度",本页章节);}
        阅读进度=localStorage.getItem(本页书名+"_进度");
        
        let 临时;
        let 替换;
        
        for(let i=0;解锁表.length>i;i++){
            临时=解锁表[i].split("／");
            if(临时[0]<=阅读进度&&临时[1]==0||临时[1]>=阅读进度){
            
            替换 = new RegExp('［'+临时[2]+'］', "g");
            正文 = 正文.replace(替换, '［'+临时[3]+'］');
        }
        }
        
        for(let i=0;替换表.length>i;i++){
            临时=替换表[i].split("／");
            替换 = new RegExp('［'+临时[0]+'］', "g");
            正文 = 正文.replace(替换, '［'+替换表[i]+'］');
        }
        
        正文 = 正文.split("［");
        let dy = 正文[0];
        for(let i=1;正文.length>i;i++){
            临时=正文[i].split("］");
            替换=临时[0].split("／");
            if(替换[5]=="0"){
                dy+=替换[1]+"<span class=\"js\"\">"+替换[2]+"</span>"+替换[3]+临时[1];
            }else{
                dy+=替换[1]+"<a class=\"js\" onclick=\"dw(dwb='"+替换[5]+"',dwd='"+替换[4]+"')\">"+替换[2]+"</a>"+替换[3]+临时[1];
            } 
        };
        
        document.getElementById("dy").innerHTML = dy;
        </script>

    </div>

    <div id="下级"></div>
    <div id="nav_zk" style="display: none;">
        {% if page.pinglun %}{% include Valine.html %}{% endif %}
        {% if page.footer_me %}{% else %}{% include footer_mqec.html %}{% endif %}
        {% if page.footer_me == 1 %}{% include footer.html %}{% endif %}
        {% include nav.html %}
    </div>
    <script>if(top.location==self.location){
        var 下级dy="<hr><div class=\"auth\"><span class=\"auth\">{% if page.wen_index %}<a href=\"{{ page.wen_index }}\">目录</a>{% else %}目录{% endif %}</span><span class=\"auth\">{% if page.wen_pre %}<a href=\"{{ page.wen_pre }}\">上一页</a>{% else %}上一页{% endif %}</span><span class=\"suth\">{% if page.wen_next %}<a href=\"{{ page.wen_next }}\">下一页</a>{% else %}下一页{% endif %}</span></div></div>";
        document.getElementById("下级").innerHTML=下级dy;
        document.getElementById("nav_zk").style.display = "block";
    }
        let a="0";
        function 屏宽(){
            if(a=="0"){
            a="1";
            let 屏宽dy="<style>@media screen and (min-width: 768px){div.body {width:96%}}</style>"
            document.getElementById("屏幕宽度").innerHTML = 屏宽dy;
            }
            else{
                a="0";
                let 屏宽dy="<style>@media screen and (min-width: 768px){div.body {width:65%}}</style>"
                document.getElementById("屏幕宽度").innerHTML = 屏宽dy;
            }
        }
        </script>

{% include nav.html %}

</body>