---
layout: default
---
<style>
html,body {margin: 0;padding: 0;}
#输入框 {text-align:center;vertical-align:middle;}
.juzhong{text-align: center;}

@media screen and (min-width: 768px) { /*电脑*/
    .biaotib {text-align: center;position: relative;top: 40px;font-size: 3.5em;color: #0bb1f5;font-weight: bold;cursor: default;}
    div.body {position: relative;top: 50px;width: 65%;margin: auto;}
} /*电脑*/

@media screen and (max-width: 768px) { /*手机*/
    .biaotib {text-align: center;position: relative;top: 50px;font-size: 2.3em;color: #0bb1f5;font-weight: bold;cursor: default;}
    div.body {position: relative;top: 50px;width: 96%;margin: auto;}
} /*手机*/

ul>a {font-weight: bold;display: block;line-height: 50px;font-size: 1.1em;text-decoration: none;color: #58a4dd;}
ul>a:hover {color: #0085a1;background: #eef6fc;text-decoration: none;}
ul>a>span {color: #5c5c5c}
input {line-height: 36px;font-size: 1.4em;text-align: center;padding: .5em .7em;max-width: 30em;width: 80%;background: #F8F8F8;border-style: solid;border-width: medium;border-color: #00a2ff;border-radius: 20px;outline: none;}
input:focus {box-shadow: 0 1px 0 1px #DDD inset, 0 2px 5px #00000033;border-color:#0095eb;}
select {font-size: 1.2em;color: #666666;padding: .3em .5em;max-width: 7em;background: #F8F8F8;box-shadow: 0 0 0 1px #DDD inset, 0 1px 2px rgba(0, 0, 0, .2);border-width: medium;border-color: #00a2ff;border-radius: 17px;outline: none;}
select:hover {color: #0085a1;box-shadow: 0 1px 0 1px #DDD inset, 0 1px 2px rgba(0, 0, 0, .2);}
button {font-size: 1.2em;color: #666666;padding: .1em;background: #F8F8F8;border-style: solid;border-width: medium;border-color: #6b6b6b;border-radius: 17px;outline: none;}
button:hover {color: #2c2c2c;box-shadow: 0 1px 0 1px #DDD inset, 0 1px 2px rgba(0, 0, 0, .2);}
</style>

</head>

<body onload="document.getElementById('输入').focus()">

<div class="biaotib">{% if page.nav_text %}{{ page.nav_text }}{% else %}{% endif %}</div>
<div class="body">
<form id="输入框" autocomplete="off">
<input type="text" style="display:none" />
<input type="text" id="输入" placeholder="多个关键词用空格分隔" />
</form>

<div style="line-height:0.5;"><br></div>

{{ content }}

</div>

<script>
let 回车 = "javascript:void(0);";
let datb = data;
$("#输入").keyup(function () {
    datb=new Array();
    if (回车.split("／").length > 1) {
        回车 = 回车.split("／")[1];
    }
    if (window.event.keyCode == 13) location = 回车;
    if (window.event.keyCode == 27) document.getElementById("输入").value = "";

    let 输入 = $("#输入").val().toLowerCase().split(" ");   //获取输入内容 换成小写 用空格分隔
    let 结果 = "";
    let 结果2 = "";
    for (let i = 0; data.length > i; i++) {
        let 临时 = data[i].split("／");
        let 过程 = "0";
        let 过程2 = "0";
        for (let i2 = 0; 输入.length > i2; i2++) {
            let 临时2 = data[i].split("／");
            临时2 = 临时2[0] + 临时2[2];
            临时2 = 临时2.toLowerCase();
            if (临时2.indexOf(输入[i2]) != -1 && 输入[i2] != "") { 过程2 = "1"; }
            else { 过程 = "1"; }
        }
        if (过程 == "0") {
            datb[datb.length] = data[i];
            结果 += "<ul><a href='" + 临时[1] + "'>" + 临时[0] + "</a></ul>";
            回车 += "／" + 临时[1];
        }
        if (过程 != "0" && 过程2 == "1") {
            结果2 += "<ul><a href='" + 临时[1] + "'>" + 临时[0] + "</a></ul>";
        }
    }

    let 打印 = 结果 + "<br><hr>" + 结果2;
    let 替换 = new RegExp('【', "g");
    打印 = 打印.replace(替换, '<span> - ');
    替换 = new RegExp('】', "g");
    打印 = 打印.replace(替换, '</span>');
    document.getElementById("结果").innerHTML = 打印;
})

function 随机排序() {
    let 随机结果 = "";
    let 随机临时;
    if(datb.length==0){
        datb=new Array();
        datb=datb.concat(data);
    }

    let p = Array.from(datb), i, a = [];
    while (p.length > 0) {
        i = parseInt(Math.random() * p.length);
        a.push(p[i]);
        p.splice(i, 1);
    }

    let 随机 = a;

    for (let i2 = 0; 5 > i2 && 随机.length != i2; i2++) {
        随机临时 = 随机[i2].split("／");
        随机结果 += "<ul><a href='" + 随机临时[1] + "'>" + 随机临时[0] + "</a></ul>";
    }

    let 替换 = new RegExp('【', "g");
    随机结果 = 随机结果.replace(替换, '<span> - ');
    替换 = new RegExp('】', "g");
    随机结果 = 随机结果.replace(替换, '</span>');
    document.getElementById("结果").innerHTML = 随机结果;
}
</script>

{% if page.pinglun %}{% include Valine.html %}{% endif %}

{% if page.footer_me %}{% else %}{% include footer_mqec.html %}{% endif %}
{% if page.footer_me == 1 %}{% include footer.html %}{% endif %}

</div>

{% include nav.html %}

</body>