---
layout: default
---
<style>
    @media screen and (min-width: 768px) { /*电脑*/
        .qbt {text-align: center;margin-top: 1.2em;font-size: 3.5em;color: #0bb1f5;font-weight: bold;cursor: default;}
        div.body {position: relative;top: 20px;width: 65%;margin: auto;}
        #right_anchor{position: fixed;bottom:0%;width:14%;height: 40%;overflow:auto;margin: 0 auto 0 67%;}
        #right_anchor table{width:100%;}
    } /*电脑*/

    @media screen and (max-width: 767px) { /*手机*/
        .qbt {text-align: center;margin-top: 1.2em;font-size: 2.3em;color: #0bb1f5;font-weight: bold;cursor: default;}
        div.body {position: relative;top: 20px;width: 96%;margin: auto;}
        #right_anchor{position:relative;}
        #right_anchor table{width:60%;}
    } /*手机*/
    #right_anchor a{display:block;}
    footer {position: relative;top: 300px;z-index: -1001;}
    footer img {position: relative;bottom: 50px;display: block;margin: 0 auto;}
</style>

</head>

<body>

    {% include nav.html %}

    <div id="上级" class="body"></div>

    <div id="wen_body">
        <div id="right_anchor"></div>

        {{ content }}

    </div>

    <div id="下级" class="body"></div>

    <script>
        if(top.location==self.location){var 返回="<div class=\"qbt\">{% if page.nav_text %}{{ page.nav_text }}{% else %}{% endif %}</div>{% if page.zk_ly %}<br/>{{ page.zk_ly }}{% else %}{% endif %}";
        document.getElementById("上级").innerHTML=返回;
        document.getElementById("wen_body").className = 'body';

        var 下级="<footer><a href=\"/maoqiu\"><img class=\"tubiao\" src=\"/img/footer.png\" /></a></footer>";
        document.getElementById("下级").innerHTML=下级;
        }
        else{
            document.getElementById("nav").style.display = "none";
            //展开的子页面
            var bodyH = $(document).height()+{% if page.zk_height %}{{ page.zk_height }}{% else %}0{% endif %};
            var bodyJ = window.location.href.split('/i/zk/')[1];
            var bodyK = "／／" + bodyJ;
            var bodyL = "／" + bodyJ + "／";

            window.parent.document.getElementById(bodyK).height = bodyH;
            window.parent.document.getElementById(bodyL).innerHTML = "";

            window.onload = function () {
            bodyH = $(document).height();
            window.parent.document.getElementById(bodyK).height = bodyH;
            }
        }
        let p_link = "{{ page.permalink }}".split("/");
        localStorage.setItem(p_link[2], "1");

        if (top.location == self.location) {
            let anchor = document.querySelectorAll('a');
            if (anchor[0]) {
                let anchor_dy = "<table>";
                for (let i = 0; i < anchor.length; i++) {
                    if (anchor[i]["name"]) {
                        anchor_dy += "<tr><td><a href=\"#" + anchor[i]["name"] + "\">" + anchor[i]["name"] + "</a></td></tr>";
                    }
                }
                anchor_dy += "</table>";
                document.getElementById("right_anchor").innerHTML = anchor_dy;
            }
        }
    </script>

</body>