---
layout: default
---
<style>
    @media screen and (min-width: 768px) { /*电脑*/
        .qbt {text-align: center;margin-top: 1.2em;font-size: 3.5em;color: #0bb1f5;font-weight: bold;cursor: default;}
        div.body {position: relative;top: 20px;width: 65%;margin: auto;}
    } /*电脑*/

    @media screen and (max-width: 767px) { /*手机*/
        .qbt {text-align: center;margin-top: 1.2em;font-size: 2.3em;color: #0bb1f5;font-weight: bold;cursor: default;}
        div.body {position: relative;top: 20px;width: 96%;margin: auto;}
    } /*手机*/
</style>

</head>

<body>

    <div id="上级" class="body"></div>

    <div id="wen_body">
        <script>if(top.location==self.location){var 返回="<div class=\"qbt\">{% if page.nav_text %}{{ page.nav_text }}{% else %}{% endif %}</div><a href=\"/\">猫球博客</a>{% if page.nav_url %} / {{ page.nav_url }}{% else %}{% endif %}{% if page.zk_ly %}<br/>{{ page.zk_ly }}{% else %}{% endif %}";
            document.getElementById("上级").innerHTML=返回;
            document.getElementById("wen_body").className = 'body';}
            else{
                   //展开的子页面

                    var bodyH = $(document).height()+{% if page.zk_height %}{{ page.zk_height }}{% else %}0{% endif %};
                    var bodyJ = window.location.href.split('/i/zk/')[1];
                    var bodyK = "／／" + bodyJ;
                    var bodyL = "／" + bodyJ + "／";

                    window.parent.document.getElementById(bodyK).height = bodyH;
                    window.parent.document.getElementById(bodyL).innerHTML = "";

                    window.onload = function () {
                    bodyH = $(document).height();
                    window.parent.document.getElementById(bodyK).height = bodyH;
                    }
            }
            let p_link = "{{ page.permalink }}".split("/");
            localStorage.setItem(p_link[2], "1");
            </script>

        {{ content }}

    </div>

</body>